<div class='mleft5 carousel-overlay row center-wrapper'>
  <div class='med-top'>
    <div class='mauto50'><div class='sls-border-width white'><hr></div><br /></div>
    <div class='mtop mauto47'>
      <div class='sls-page-title'><%= SLS_KEYS['home']['title'] %></div><br />
      <div class='line-cover'>
        <span class='med-top sls-tag-line'>Every 3<span class='sls-sup'>rd</span> Sat</span><br /><br />
      </div>
      <div class='mtop row'>
        <div class='sls-subtitle'><%= SLS_KEYS['home']['subtitle'] %><span class='sls-sup'>th</span></div><br />
      </div>
    </div>
    <div class='clear-all'></div>
    <div class='big-top row'>
      <div class="col-sm-offset-5 col-sm-2 text-center">
        <%= link_to 'Learn More', '#about', class: 'btn btn-large clear-btn' %>
      </div>
    </div>
  </div>
</div>
