<header class="navbar transparent navbar-inverse no-bot" id='sls-navbar'>
  <div class="navbar-inner">
    <div class='container'>
      <%= render partial: 'logo_header' %>
      <div id='sls-pg-hdr' class='mtop nav pull-right'>
	<%= set_sls_menu %>
      </div>
    </div>
  </div>
</header>  

