<header class="navbar transparent navbar-inverse no-bot" id='sls-navbar'>
  <div class="navbar-inner">
    <div class='container'>
      <div class='row'>
        <%= set_sls_logo 'pxb_sls_navibar_circle.png', 'mleft-sm-pct span1 sm-top sm-bot', '#', '' %>
        <div id='sls-pg-hdr' class='span7 mtop nav pull-right'>
	  <%= set_sls_menu %>
          <%= set_sls_logo 'rsz_pxb_logo_2014_03_15.png', 'mright-pct nav pull-right xneg-top sm-bot', get_home_path, 'Link to Pixiboard Home' %>
        </div>
      </div>
    </div>
  </div>
</header>  

