<div class='row'>
  <div class='big-top center-wrapper'>
    <a name="<%= section %>" class='sls-about-title'><%= SLS_KEYS[section]['title'] %></a><br />
  </div>
  <%= show_sls_subtitle section, subFlg %>
</div>
