<% provide(:title, 'Add Pixi') %>
<%= content_for :content do %>
  <div class="center"><br />
    <h1>Add Pixi</h1>
  </div>

  <%= render partial: 'shared/listing_form', locals: { action_type: 'Create' } %>
<% end %>
