<% provide(:title, 'My Pixis') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/section_header', locals: { section_name: 'My Pixis' } %>
<% end %>

<%= content_for :content do %>
  <div id="pendingOrder">
    <%= render :partial => 'shared/index_list' %>
  </div>
<% end %>

