  	<table>
  		<tr style="height:36px;"></tr>
  		<tr><center><span style="color:grey;font-size:10px;">You are receiving this because your e-mail address was used to register at kits.rbca.net</span></center></tr>
  		<tr><center><span style="color:grey;font-size:10px;">&copy; <%= Date.today.year %> KITS, Inc. 3597 South Court, Palo Alto, CA 94306 USA. All rights reserved.</span></center></tr>
  	</table>