<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <%= render :partial=>'shared/mail_header' %><br /><br />
    Hi <%= @user.first_name %>,<br /><br />

    <span style="height:30px;">
        There has been an update regarding a disputed charge:
    </span><br /><br />

    <span>The Pixiboard Team</span><br /><br />     
    <%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

