<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %>
    	<span style="height:30px;">
	    Thank you for contacting us.  We are in the process of reviewing your item and will be in touch with you.
  	</span><br /><br />

	<span style="margin-top:20px;">Happy Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

