<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %>
	Hi <%= @post.seller_first_name %>,<br /><br />
	We have received your PixiPost request.  A Pixiboard Pixter will be in touch with you soon to confirm your requested time 
	and location.<br /><br />

	Visit <%= seller_pixi_posts_url(status: 'active') %> to see the status of your request.
	<br /><br />

	<span style="margin-top:20px;">Keep on Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

