<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @listing.seller_first_name %>,<br /><br />
  		Your pixi has been approved on Pixiboard.
		Visit <%= get_url %> to check it out. Thanks for your business.<br />

	<span style="margin-top:10px;">Happy Pixing!</span><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<center><%= render :partial=>'shared/mail_footer' %></center>
  </body>
</html>

