<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <%= render :partial=>'shared/mail_header' %><br /><br />
    Hi <%= @user.first_name %>,<br /><br />

    <span style="height:30px;">
        Oops! Your latest payment failed to go through. Please log on to <%= link_to('Pixiboard', card_accounts_url(adminFlg: false), html_options = {}) %> to update your credit card info and try again.
    </span><br /><br />

    <span>The Pixiboard Team</span><br /><br />     
    <%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

