<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @listing.seller_first_name %>,<br /><br />
        Good news!  Your pixi has been approved on Pixiboard. Check it out at:<br><br>
		<%= get_url %> <br><br>
        Now what?  Well, you can wait and see if someone finds your item or
        you can get out and spread the word.  Share your items on Facebook,
        Pinterest, Twitter, or other social media.  It is easy to do.

        <br>
        <ol>
            <li>
                Go to the link above to take you to your pixi’s page
            </li>
            <li>
                Click on one of the social media links
            </li>
            <li>
                Fill out their form and submit
            </li>
        </ol>

        <br>
        You are one step closer to the sale!

        <br>
        Ask your friends to share, too.  The more people
        who know you are selling, the faster we can connect you with a buyer.

        <br><br>


	<span style="margin-top:10px;">Thank you for your business and Happy Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<center><%= render :partial=>'shared/mail_footer' %></center>
  </body>
</html>

