<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @user.first_name %>,<br /><br />
    	<h2>Welcome to Pixiboard!</h2>

    	<span style="height:20px;">
  	  Thanks for joining the Pixiboard community! Your account has been created - now it will be easier than ever to
	  find, sell, promote and transact locally with your peers.  </span><br /><br /> 	

	<p>
	   To login to the site, just follow this link: <%= root_url %>.
	</p>

	<span style="margin-top:20px;">Happy Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

