<% provide(:title, 'Pending Orders') %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar_pending', locals: { section_name: 'Pending Orders' } %>
<% end %>
<%= content_for :content do %>
  <div id="pendingOrder">
    <%= render :partial => 'shared/index_list' %>
  </div>
<% end %>

