<% provide(:title, 'Pending Orders') %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: 'Pending Orders' } %>
<% end %>
<%= content_for :content do %>
  <div id="pendingOrder">
    <% unless @listings.blank? %>  
      <%= render :partial => 'shared/index_list' %>
    <% else %>
      <div class='center-wrapper'>No pending orders found.</div>
    <% end %>
  </div>
<% end %>

