<% provide(:title, 'Invoices') %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: 'Invoices' } %>
<% end %>
<%= content_for :content do %>
  <% cache [@invoice, @user] do %>
    <div id='inv_form'>
      <%= render partial: 'shared/show_invoice', locals: { invoice: @invoice } %>
    </div>
  <% end %>
<% end %>

