<%= content_for :subhead do %>
  <%= render partial: 'shared/listing_header', :locals => { listing: @listing, step_no: 1, step_name: 'Build Your Pixi' } %>
<% end %>
<%= content_for :content do %>
  <div id="buyTxtForm">
    <div id="buyFormError" style="display:none" class="error"></div>
    <%= render partial: 'shared/listing_form', locals: { step_name: 'Build Your Pixi', action_type: 'Create' } %>
  </div>
<% end %>  
