<% provide(:title, "Pixi Submitted") %>
<%= content_for :content do %>
  <div id="buyTxtForm">
    <%= render partial: 'shared/pixi_submit', locals: {model: @listing, step_name: 'Pixi Submitted!'} %>
  </div>
  <div class="mtop center">
    Subject to approval, your pixi will be posted within the next hour. Thank you for your business.
  </div>
  <div class="mtop mbot">
    <center>
	<%= link_to "Done", listings_path, :class => "btn btn-large btn-primary submit-btn", :id => 'cancel-btn' %>
    </center>
  </div>
<% end %>

