<% provide(:title, 'Conversations') %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: 'Conversations' } %>
<% end %>
<%= content_for :content do %>
  <% cache [@conversation, @user] do %>
    <div id='post-frm'>
      <%= render partial: 'shared/show_conversation', locals: { conversation: @conversation, sentFlg: false } %>
    </div>
  <% end %>
<% end %>


