files:
  "/var/app/ondeck/config/database.yml":
  mode: "000644"
  content: |
    production:
      adapter: mysql2
      encoding: utf8
      database: <%= ENV['RDS_DB_NAME'] %>
      username: <%= ENV['RDS_USERNAME'] %>
      password: <%= ENV['RDS_PASSWORD'] %>
      host: <%= ENV['RDS_HOSTNAME'] %>
      port: <%= ENV['RDS_PORT'] %>

container_commands:
  01-copyfiles: 
    command: "cp /config/database.yml /var/app/ondeck/config/database.yml"
  02-copyfiles: 
    command: "cp /config/database.yml /var/app/current/config/database.yml"
