container_commands:
  symlink-db:
    command: ln -sf /var/app/shared/database.yml $EB_CONFIG_APP_ONDECK/config/database.yml
  symlink-api:
    command: ln -sf /var/app/shared/api_keys.yml $EB_CONFIG_APP_ONDECK/config/api_keys.yml
  symlink-gateway:
    command: ln -sf /var/app/shared/gateway.yml $EB_CONFIG_APP_ONDECK/config/gateway.yml
  symlink-pixi:
    command: ln -sf /var/app/shared/pixi_keys.yml $EB_CONFIG_APP_ONDECK/config/pixi_keys.yml
  symlink-sphinx:
    command: ln -sf /var/app/shared/thinking_sphinx.yml $EB_CONFIG_APP_ONDECK/config/thinking_sphinx.yml
