<% provide(:title, 'PixiPost Zipcheck') %>
<%= content_for :content do %>
  <% cache fragment: 'post_tag_line' do %>
    <div class='container pixi-post-bkgnd'>
      <div class='pxp-items center-wrapper'>
        <span class='pxp-tag'>Schedule a PixiPost&trade; today.</span>
        <div class='sm-top'><span class='pxp-tag-line'><%= PXB_HOME_PAGE_KEYS['pixi']['pxp_tag_line'] %></span></div>
	<%= render 'shared/check_zip' %>
      </div>
    </div>
  <% end %>
<% end %>

