/* custom colors */
$grayMediumLight: #eaeaea;
$pixiOrange: #F95700;
$pixiBlue: #026FB7;

//$pixiBlue: #0C6FCB;
//$pixiOrange: #F15A25;

.pixi-color { 
  color: $pixiOrange; 
}

.pixi-blue-color { 
  color: $pixiBlue; 
}

.pixi-gray-color { 
  color: $grayLight;
}

.pixi-bkgnd { background-color: $pixiOrange }
.pixi-lt-bkgnd { background-color: #fde9d9 }
.pixi-blue-bkgnd { background-color: $pixiBlue }
.pixi-blk-bkgnd { background-color: black }
.pixi-grey-bkgnd { background-color: $grayMediumLight }
.pixi-pxb-bkgnd { background-color: #fdd835 }
.pixi-ind-bkgnd { background-color: #fbc02d }
.pixi-bus-bkgnd { background-color: #ff6d00 }
.pixi-grp-bkgnd { background-color: #ff5722 }

/* posts */
.posts {
  list-style: none;
  font-size: 12px!important;
  margin: 5px 0 0 0;

  li {
     padding: 7px 0;
     border-top: 1px solid #e8e8e8;
  }

  a {
    &:hover { background:none; text-decoration: underline; }
  }  
}

.line-hgt-32 {
  line-height: 32px;
}

.sender {
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
}

.sender-conv {
  font-weight: bold;
  font: 15px arial, sans-serif;
  display: inline;
  vertical-align: left;
  line-height: 20px;
  margin-right: 5px;
}

.listing-conv {
  font: 10px arial, sans-serif;
  color: black;
  font-weight: bold;
}

.content, #fcontent {
  display: block;
  margin-top: -5px!important;
}

.dblock {
  display: block;
}

.content-conv {
  display: block;
  margin-top: -5px!important;
  font-size: 12px!important;
}

.gray-content {
  @extend .content;
  color: $grayLight;
  float: left;
}

.timestamp {
  color: $grayLight;
  margin-bottom: 10px;
}

.timestamp-conv {
  color: $grayLight;
  font-size: x-small;
  text-align: right;
}

form#search_btn {margin-bottom: -5px!important;}
form#new_post {margin-bottom: -0px!important;}

.clear-all { clear:both }
.clear-right { clear:right }
.clear-left { clear:left }
.price { text-align: right }
.order-total { font-weight: bolder; font-size: medium }
.v-align { 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.v-top { vertical-align: top }
.v-middle { vertical-align: middle }
.left-form {float: left;}
.right-form {float: right;}
.mauto {width: 15%; margin: 0 auto}

/* custom margins */
.mleft5 {margin-left: 5px!important;}
.mleft10 {margin-left: 10px!important;}
.mleft15 {margin-left: 15px!important;}
.mleft20 {margin-left: 20px!important;}
.mleft30 {margin-left: 30px!important;}
.mleft40 {margin-left: 37px!important;}
.mleft-pct {margin-left: 10%!important;}

/* custom padding */
.pad10 {padding: 10px!important;}
.pad15 {padding: 15px!important;}
.pad20 {padding: 20px!important;}
.pad5 {padding: 5px!important;}
.pad-top10 {padding-top: 10px!important;}
.pad-top20 {padding-top: 20px!important;}
.pad-top30 {padding-top: 30px!important;}
.pad-bot10 {padding-bottom: 10px!important;}
.pad-bot5 {padding-bottom: 5px!important;}
.pad-left20 {padding-left: 20px!important;}
.pad-right20 {padding-right: 20px!important;}
  
/* custom buttons */
.custom-btn {color: white!important; background: $pixiOrange!important; border: 1px solid $pixiOrange!important;} 
.signin-btn { @extend .custom-btn; font-weight: bold; 
  height: 29px!important; text-align: center; vertical-align: middle; padding-top: 6px; padding-left: 22px; padding-right: 22px;}

.submit-btn { @extend .custom-btn; font-weight: bold; }
.pixi-btn { color: white!important; background: $pixiBlue!important; border: 1px solid $pixiBlue!important; }
.bold-btn { color: white!important; background: $pixiBlue!important; border: 1px solid $pixiBlue!important; font-weight: bold;}
.pxb-btn { @extend .custom-btn; font-weight: normal; }
.post-btn { @extend .custom-btn; font-weight: normal; height: 30px!important;}
.basic-btn { @extend .custom-btn; font-weight: normal;
  &:hover { background: transparent; text-decoration: underline }
}
.stnd-btn { color: black!important; background:#CCCCCC!important; border:1px gray!important; font-weight: normal;}
.fb-btn { 
  background: #2A528E!important; color: white!important; border: #2A528E!important;
}

.div-border {  
  border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; }

.div-border-blue {  
  border: 1px solid $pixiBlue; }

.mauto-none {margin: auto;}
.mauto20 {width: 27%; margin: 0 auto}
.mauto30 {width: 32%; margin: 0 auto}
.mauto35 {width: 35%; margin: 0 auto}
.mauto40 {width: 40%; margin: 0 auto}
.mright { margin-right: 10px!important }
.mright5 { margin-right: 5px!important }
.mright20 { margin-right: 20px!important }

.mtop {margin-top: 20px!important;}
.sm-top { margin-top: 5px!important }  
.xneg-top { margin-top: -40px!important }  
.big-neg-top { margin-top: -25px!important }  
.px-neg-top { margin-top: -27px!important }  
.mneg-top { margin-top: -20px!important }  
.med-neg-top { margin-top: -15px!important }  
.neg-top { margin-top: -10px!important }  
.ng-top { margin-top: -5px!important }  
.med-top {margin-top: 10px!important;}
.no-mtop {margin-top: 0!important}
.big-top { margin-top: 50px!important }  
.xlg-top { margin-top: 40px!important }  
.lg-top { margin-top: 30px!important }  
.huge-top { margin-top: 25%!important }  
.jumbo-top { margin-top: 20%!important }  
.xbig-top {margin-top: 10%;}

.neg-left { margin-left: -20px!important; }
.ng-left { margin-left: -5px!important; }
.no-left {margin-left: 0!important;}

.mbot {margin-bottom: 15px!important;}
.mbot30 {margin-bottom: 30px!important;}
.no-bot {margin-bottom: 0!important;}
.sm-bot { margin-bottom: 5px!important }  
.med-bot { margin-bottom: 10px!important }  
.neg-bot { margin-bottom: -10px!important }  
.big-neg-bot { margin-bottom: -20px!important }  
.mneg-bot { margin-bottom: -7px!important }  
.ng-bot { margin-bottom: -5px!important }  

.no-pad {padding-top: 0!important}
.no-btop {
  border-top: none; 
}

form.less-bot {
  margin-bottom: 10px!important;
}

.pg-bkgnd-aqua {
  background: #C2E1EF;
}

.pg-bkgnd-white {
  background: white;
}

.pg-bkgnd-blue {
  background: $pixiBlue;
}

.pg-bkgnd-gray {
  background: $grayMediumLight;
}

a.terms-link {
  color: $pixiBlue!important; 
  &:hover { background: transparent; text-decoration: underline }
}

a.pixi-link {
  vertical-align: middle;
  &:hover {
    background: none;
    text-decoration: underline;
  }
}

a.img-link {
  &:hover, &:active {
    background: none;
    text-decoration: none;
  }
}

a.pixi-cat-link, a.item-link {
  &:hover {
    display: block;
    background: none;
    text-decoration: none;
  }
}

#login-text h4 {
  overflow: hidden;
  text-align: center;
  &:before,
  &:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.blue-line hr {
  color: $pixiBlue; 
  background-color: $pixiBlue; 
}

hr {
  border-top: 1px solid $pixiBlue;
}

.gray hr{
  border-top: 1px solid $grayMediumLight;
}

.black hr{
  border-top: 1px solid #000000;
}

a.clear-link {
  outline: 0;
}

.cnt {
  height: 20px;
  width: auto;
  float: right;
  background-color: #ccc;
  position: relative;
  border: 1px solid #333;
  &:before, &:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
  }
  &:after {
    border-width: 9px;
    border-right-color: #ccc;
    top: 5px;
  }
  &:before {
    border-width: 11px;
    border-right-color: #333;
    top: 3px;
  }
}

.affix {
  position: fixed;
  z-index: 2;
}

.top5 {
  top: 3%!important;
}

.pad-bot60 {
 padding-bottom: 60px !important;
}

.no-float {
  margin:0 auto;
  float:none;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

tr.row-top { margin-top: 20px!important; }

td.borderless {
  border-top: none; 
}

td.border-right {
  border-right: 1px solid #dddddd; 
}

td.border-bottom {
  border-bottom: 1px solid #dddddd; 
}

table.noborder {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

#inv-table.table-bordered th { border-left: none!important; }

.meter { 
  height: 14px; 
  background: blue; 
  width: 0%;
}

.font-bold {
  font-weight: bold;  
}

.ui-accordion .ui-accordion-content {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.ui-accordion-header-active {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom: none;
  border-right: 0px !important;
  border-left: 0px !important;
}

.ui-accordion-header.ui-state-default a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-msg-text {
  color: white !important;
}

.ui-accordion-header.ui-state-active { 
  color: black !important; 
  .span5 .no-left .hdr-content {
    color: white;
  }
}

.clear-btn{
  background: transparent;
  color: #FFFFFF;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  text-shadow: none!important;
}

.clear-blk-btn {
  @extend .clear-btn;
  color: #000;
}


.pixi-title {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
}

.pixi-price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: $pixiOrange;
}

.tab-content {
  overflow-x: hidden;
  overflow-y: hidden;
}

.boxed {
  border: 1px solid gray;
  border-radius: 3px;
}

.box { 
  float: left;
  position: relative;
  color: #FFF; 
  text-align: center; 
  height: 86px; 
  width: 100px; 
  margin-right: 10px;
  background-color: $pixiOrange;
  border-radius: 3px;
  box-shadow: 0 4px 2px -2px gray;
}

.ask-box {
  @extend .box;
  background-color: #ef6c00;
}

.cool-box {
  @extend .box;
  background-color: #f57c00;
}

.save-box {
  @extend .box;
  background-color: #fb8c00;
}

.metric-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
