/* custom colors */
$grayMediumLight: #eaeaea;
$pixiOrange: #F95700;
$pixiBlue: #026FB7;

//$pixiBlue: #0C6FCB;
//$pixiOrange: #F15A25;

.pixi-color { 
  color: $pixiOrange; 
}

.pixi-blue-color { 
  color: $pixiBlue; 
}

.pixi-bkgnd { background-color: $pixiOrange }
.pixi-lt-bkgnd { background-color: #fde9d9 }
.pixi-blue-bkgnd { background-color: $pixiBlue }
.pixi-blk-bkgnd { background-color: black }
.pixi-grey-bkgnd { background-color: $grayMediumLight }

/* posts */

.posts {
  list-style: none;
  font-size: 10px!important;
  margin: 5px 0 0 0;

  li {
     padding: 7px 0;
     border-top: 1px solid #e8e8e8;
  }

  a {
    &:hover { background:none; text-decoration: underline; }
  }  
}

.sender {
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
}

.content, #fcontent {
  display: block;
  margin-top: -5px!important;
}

.gray-content {
  @extend .content;
  color: $grayLight;
  float: left;
}

.timestamp {
  color: $grayLight;
  margin-bottom: 10px;
}

form#search_btn {margin-bottom: -5px!important;}
form#new_post {margin-bottom: -0px!important;}

.clear-all { clear:both }
.clear-right { clear:right }
.clear-left { clear:left }
.price { text-align: right }
.order-total { font-weight: bolder; font-size: medium }
.v-align { vertical-align: middle }
.v-top { vertical-align: top }
.left-form {float: left;}
.right-form {float: right;}

.mleft5 {
  margin-left: 5px!important;
}

.mleft10 {
  margin-left: 10px!important;
}

.mleft15 {
  margin-left: 15px!important;
}

.mleft30 {
  margin-left: 30px!important;
}

.mleft-pct {
  margin-left: 10%!important;
}

/* submit button */
.signin-btn { color: white!important; font-weight: bold; background: $pixiOrange!important; border: $pixiOrange!important; 
  height: 29px!important; text-align: center; vertical-align: middle; padding-top: 6px; padding-left: 22px; padding-right: 22px;}
.submit-btn { color: white!important; font-weight: bold; background: $pixiOrange!important; border: $pixiOrange!important; }
  
.post-btn { color: white!important; font-weight: normal; background: $pixiOrange!important; border: $pixiOrange!important; height: 30px!important;}
.basic-btn { color: white!important; font-weight: normal;}
.stnd-btn { color: black!important; background:#CCCCCC!important; border:1px gray!important; font-weight: normal;}
.fb-btn { 
  background: #2A528E!important; color: white!important; border: #2A528E!important;
}

.div-border {  
  border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; }

.div-border-blue {  
  border: 1px solid $pixiBlue; }

.mright { margin-right: 10px!important }
.mright20 { margin-right: 20px!important }
.sm-top { margin-top: 5px!important }  
.xneg-top { margin-top: -40px!important }  
.big-neg-top { margin-top: -25px!important }  
.px-neg-top { margin-top: -22px!important }  
.mneg-top { margin-top: -20px!important }  
.med-neg-top { margin-top: -15px!important }  
.neg-top { margin-top: -10px!important }  
.ng-top { margin-top: -5px!important }  
.med-top {margin-top: 10px!important;}
.no-mtop {margin-top: 0!important}

.sm-bot { margin-bottom: 5px!important }  
.med-bot { margin-bottom: 10px!important }  
.neg-bot { margin-bottom: -10px!important }  
.big-neg-bot { margin-bottom: -20px!important }  
.mneg-bot { margin-bottom: -7px!important }  
.ng-bot { margin-bottom: -5px!important }  

.no-pad {padding-top: 0!important}
.no-btop {
  border-top: none; 
}

form.less-bot {
  margin-bottom: 10px!important;
}

.pg-bkgnd-aqua {
  background: #C2E1EF;
}

.pg-bkgnd-white {
  background: white;
}

.pg-bkgnd-blue {
  background: $pixiBlue;
}

.pg-bkgnd-gray {
  background: $grayMediumLight;
}

a.terms-link {
  color: $pixiBlue!important; 
  &:hover { background: transparent; text-decoration: underline }
}

a.pixi-link {
  vertical-align: middle;
  &:hover {
    background: none;
    text-decoration: underline;
  }
}

a.img-link {
  &:hover, &:active {
    background: none;
    text-decoration: none;
  }
}

a.pixi-cat-link, a.item-link {
  &:hover {
    display: block;
    background: none;
    text-decoration: none;
  }
}

#login-text h4 {
  overflow: hidden;
  text-align: center;
  &:before,
  &:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.blue-line hr {
  color: $pixiBlue; 
  background-color: $pixiBlue; 
}

hr {
  border-top: 1px solid $pixiBlue;
}

a.clear-link {
  outline: 0;
}

.cnt {
  height: 20px;
  width: auto;
  float: right;
  background-color: #ccc;
  position: relative;
  border: 1px solid #333;
  &:before, &:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
  }
  &:after {
    border-width: 9px;
    border-right-color: #ccc;
    top: 5px;
  }
  &:before {
    border-width: 11px;
    border-right-color: #333;
    top: 3px;
  }
}

.affix {
  position: fixed;
  z-index: 2;
}

.top5 {
  top: 3%!important;
}

.pad-bot60 {
 padding-bottom: 60px !important;
}

.no-float {
  margin:0 auto;
  float:none;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.meter { 
  height: 14px; 
  background: blue; 
  width: 0%;
}
