/* primary listing(pixi) image */
.pic-item { border: 1px solid #AAAAAA; padding: 2px; 
  box-shadow: 1px 1px 1px 1px #ccc;
}

.item { 
  @extend .pic-item; float: left; 
  width: 200px!important;
  margin: 0 auto;
  overflow: hidden;
  @include border-radius(.3em);
  margin-bottom: 10px; }

.item.masonry-brick img {
  width:100%;
  height: auto;
  overflow: hidden;
}

.home-item {
  @extend .item;
  margin-left: 20px;
}

.featured-item {
  @extend .item;
  width: 180px!important;
  background: white;
  box-shadow: none;
  margin-left: 20px;
}

img.img-board {
  width:100%;
  overflow: hidden;
}

.pic-frame { 
  @extend .pic-item;
  margin-bottom: 10px; }

.pixi-frame { 
  display: block; float: left; 
  @extend .pic-item;
  margin: 0 10px 10px 0; 
}

.item-cat {
  float:left;
  padding-right:5px;
}

.item-dt {
  float:right;
  padding-left:5px;
}

/* listing image thumbnails */
.thumb-size {
  height: 60px!important;
  width: 60px!important;
}

.thumb {
  height: 100px;
  width: 100px!important;
  @extend .pic-item;
  margin: 5px 10px 0 5px;
}

.pixi-photo img {
  max-height: 100px!important;
  width: 100px;
  @extend .pic-item;
  margin: 0 5px 10px 0;
}

.pixi-image img {
  //max-height: 150px!important;
  width: 100%;
  margin: 0 5px 10px 0;
}

.inv-pic img {
  @extend .thumb-size, .pic-item;
}

.sm-thumb {
  @extend .thumb-size, .pic-item;
  margin: 5px 10px 0 5px;
}

.browse-img {
  height: 215px!important;
  width: 215px!important;
}

.img-hgt img {
  height: 300px!important;
}

.pxb-img {
  max-width: 99.8%!important;
  }

.page-text {
  font-family: Arial;
  font-weight: bolder;
  font-size: 24px;
  line-height: 24px;
}

.team-img {
  height: 100px!important;
  width: 100px!important;
  padding-bottom: 15px;
}

/* user image thumbnails */
.usr-photo {
  height: 150px;
  width: 150px;
  @extend .pic-item;
  margin: 10px 5px 10px 0;
  border-radius: 4px;
}

.usr-sm-photo img {
  height: 30px!important;
  width: 30px!important;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-top: -4px;
}

.usr-med-photo img {
  float: left;
  max-height: 80px!important;
  width: 80px!important;
  @extend .pic-item;
  margin: 10px 5px 10px 0;
}

.usr-profile-photo img, .blk-profile-photo img {
  float: left;
  height: 125px!important;
  width: 125px!important;
  border: 1px solid #FFF; 
  border-radius: 4px;
}

.blk-profile-photo img {
  border: 1px solid #000; 
}

img.usr-med-photo {
  height: 100px!important;
  width: 100px!important;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-top: -4px;
}

.float-left {
  float: left;
}

.grey-text { color: #ccc; }

.img-valign {
  vertical-align: middle!important;
}

img.tiny {
  @extend .usr-sm-photo;
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}

.myimage img {
  float: left;
  width: 40px!important;
  height: 40px!important;
  border: 1px solid #AAAAAA; 
}

.pager-photo {
  width: 60px!important;
  height: 60px!important;
  border: 1px solid #AAAAAA; 
}

.tip-image img {
  float: left;
  width: 30px!important;
  height: 30px!important;
}

.lrg_pic_frame {
  width: 550px!important;
  height: 450px!important;
}

.big_logo {
  width: auto!important;
  height: 80px!important;
}

.ppost_img {
  width: auto!important;
  height: 325px!important;
}

.close-image{
  display: block;
  float:right;
  position:relative;
  top:-10px;
  right: -10px;
  height: 20px;
}

img.checkmark  {
  width: 30px!important;
  height: 30px!important;
}

img.camera  {
  width: 32px!important;
  height: 32px!important;
}

.img-zoom {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.transition {
  -webkit-transform: scale(2); 
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  z-index: 100;
}

.frame-container {
  position: relative;
  height: 200px;
  width:100%!important; 
  background-size: 100% 100%;
  background-size: cover!important;
  -moz-background-size: cover!important;
  border-radius: 3px;
}

.item-container {
  background: url("gm_grey.jpg") no-repeat;
  @extend .frame-container;
}

.featured-container {
  background: url("black.png") no-repeat;
  @extend .frame-container;
  height: 320px;
}

.featured-container > .bx-wrapper {
  max-width: 100%!important;
  .bx-viewport {
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
  }
}

#item-pix > .bx-wrapper {
  .bx-viewport {
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
  }
}

.img-right {
  right: 0;
}

.ftr-img {
  margin-left: 10px!important;
  vertical-align: middle;
  height: 32px!important;
  width: 32px!important;
}

.social-img {
  height: 24px!important;
  width: 24px!important;
}

.img-icon {
  height: 18px;
  width: 18px;
}

.lrg-img-icon {
  height: 40px;
  width: 40px;
}

.home-img {
  margin-top: 5px!important;
  margin-right: 15px!important;
  vertical-align: middle;
  height: 28px!important;
  width: 28px!important;
}

.farrow {
  height: 6px;
  width: 10px;
}
