<% provide(:title, set_user_title) %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: set_user_menu } %>
<% end %>
<%= content_for :content do %>
  <div class="row" id="user_form">
    <%= render partial: 'shared/show_user', locals: { user: @usr } %>
  </div>
<% end %>

