<%= content_for :subhead do %>
  <div class="center-wrapper">
    <p><%= image_tag 'rsz_px_word_logo.png', class: 'px-logo' %></p>
  </div> 
<% end %>

<%= content_for :content do %>
  <%= render :partial => "devise/shared/signup" %>
<% end %>
