<% provide(:title, 'Sign Up') %>
<%= content_for :content do %>
  <div class="center">
    <h3>Create Your Account</h3>
  </div>
  <div class='mtop'>
    <%= render partial: 'shared/signup_form', locals: {src: 'new'} %>
  </div>
<% end %>
