<%= content_for :subhead do %>
  <div class="center-wrapper">
	<p><%= image_tag("#{get_name_or_logo('logo')}", :class =>"logo") %></p>
  </div> 
<% end %>

<%= content_for :content do %>
  	<%= render :partial => "devise/shared/signup" %>
<% end %>

	
