  <div class='mtop row'>
    <div class='offset1 span10 pg-text'>
      <a name='pxpost' class='title-str'>Using PixiPost</a><br><br>
      PixiPost&#0153;is a service for those who do not have the time to move their own stuff. If you have over $50 of items you want to sell, 
      you can contact us and we'll post them for you.  It is simple to use and accessible right from our website or app. 
      <div class='med-top center-wrapper med-bot'>
        <%= image_tag 'ppost_howitworks_connect_900x400.png', class: 'pxb-img' %>
      </div>
      From the Post dropdown, you select "By Us" to create a PixiPost request. Then identify the number of items to be sold, a general description, 
      the location of the items, and a convenient time for us to drop by.
      <div class='mtop mbot center-wrapper blue-line'><hr class='width180'></div>
      Pixiboard will send one of our friendly Pixters&#0153; to your house or business to document the items you wish to sell.
      <div class='med-top center-wrapper med-bot'>
        <%= image_tag 'ppost_howitworks_share_900x400.png', class: 'pxb-img' %>
      </div>
      Our Pixter&#0153; will create the pixis and confirm the details with you. After your review, we will publish the posts under your user ID. 
      We will even give you an overview on how to manage your incoming requests.
      <div class='mtop mbot center-wrapper blue-line'><hr class='width180'></div>
      Once your pixis have been posted, you navigate the incoming requests. Select a buyer, confirm the price, and arrange for a meet-up.
      <div class='med-top center-wrapper med-bot'>
        <%= image_tag 'ppost_howitworks_magic_900x400.png', class: 'pxb-img' %>
      </div>
      With PixiPost, buyers come to you. You select the meeting place and time. You provide the invoice. The buyers show up, inspect the goods, 
      and then with a simple click pay you your cash using PixiPay. The clutter is out of your house and cash is in your pocket. 
      We snap it. They see it. You sell it.
      <div class='mtop center-wrapper blue-line'><hr class='width180'></div>
    </div>
  </div>
