  <div class='mtop row'>
    <div class='offset1 span10 pg-text'>
      Pixiboard&#0153; is a visual marketplace where buying and selling items is easy, safe, and secure. It doesn't cost anything to look. 
      It doesn't cost anything to post.  We only get paid when you get paid.<br><br>
      <div class='offset1'><%= link_to 'Using Pixiboard', '#pxboard', class: 'terms-link' %></div><br>
      <div class='offset1'><%= link_to 'Using PixiPay', '#pxpay', class: 'terms-link' %></div><br>
      <div class='offset1'><%= link_to 'Using PixiPost', '#pxpost', class: 'terms-link' %></div><br>
      <div class='offset1'><%= link_to 'Pixi Videos', '#pxvideo', class: 'terms-link' %></div><br>
      Pixiboard&#0153; is a virtual garage sale anytime, anywhere. Images help buyers and sellers connect instantly. Sellers can move items quickly for cash
      they need. Buyers can rapidly find the things they want at the price they can afford. Everyone wins. Connect. Share. Magic.&#0153;
      <div class='mtop center-wrapper blue-line'><hr class='width180'></div>
    </div>
  </div>

