  <div class='mtop row'>
    <div class='offset1 span10 pg-text'>
      <a name='pxboard' class='title-str'>Using Pixiboard&#0153;</a><br><br>
      Pixiboard&#0153; uses the power of the image to connect people with products and services. By signing up, users join a community of local
      buyers and sellers in a fun and secure environment.

      <div class='med-top med-bot'>
        <%= image_tag 'pxb_layout_connect_900x400.png', class: 'pxb-img' %>
      </div>

      Pixiboard&#0153; is like a catalog in a magazine rack or a stack of pictures on a coffee table. i
      Images can be flipped through by anyone looking to see 
      what is for sale. You don't need to sign up to browse Pixiboard&#0153;; however, if you want to buy or sell, you must connect.
      <div class='mtop mbot center-wrapper blue-line'><hr class='width180'></div>
      Pixiboard&#0153; is a community. Once you sign-up, you can connect to items being offered and their sellers. Or you can create your own pixis 
      (pictures or videos) to post for sale.
      <div class='med-top med-bot'>
        <%= image_tag 'pxb_layout_share_900x400.png', class: 'pxb-img' %>
      </div>
      Sellers share their pixis to sell items or services or promote events in their community. Buyers browse images of what they are looking for,
      see the location and seller, identify the price they are willing to pay, and connect to the one they want.
      <div class='mtop mbot center-wrapper blue-line'><hr class='width180'></div>
      Pixiboard&#0153; helps you move your stuff in a safe, secure, and easy-to-use environment. Once a user finds the item they want, they work with the 
      seller within the Pixiboard&#0153; framework to close the deal and pick a spot to meet.
      <div class='med-top med-bot'>
        <%= image_tag 'pxb_layout_magic_900x400.png', class: 'pxb-img' %>
      </div>
      Using PixiPay&#0153;, both the buyer and seller can safely make and accept payments anywhere, anytime. Set up the payment method, click, and go. 
      No cash. No fear. No worries.<br><br>
      Post-transaction, buyers and sellers can rate their experience and complete the community.  Quality of items are verified, comfort of the 
      experience is documented, and users build reputations, just like in any neighborhood. And with PixiPoints&#0153;, users acquire credentials to 
      show off and credit towards other valuable services.
      <div class='mtop center-wrapper blue-line'><hr class='width180'></div>
    </div>
  </div>

