  <div class='mtop row'>
    <div class='offset1 span10 pg-text'>
      <a name='pxvideo' class='title-str'>Pixi Videos</a><br><br>
      <div class='height480'>
        <div class='mtop span2 page-text'>Here's what it's like to use Pixiboard&#0153;</div>
        <div class='mtop span7 mbot' id='video-container'>
          <%= image_tag 'http://placehold.it/640x360', class: 'span7 vimeo-thumb', 'data-vimeo-id'=>'82242899' %>
        </div>
      </div>
    </div>
  </div>

