  <div class='mtop row'>
    <div class='offset1 span10 pg-text'>
      <a name='pxpay' class='title-str'>Using PixiPay</a><br><br>
      PixiPay&#0153; is a virtual wallet that enables you to complete your financial transactions anywhere, anytime. Safe and secure, PixiPay&#0153; 
      is tied to the payment method of your choice.
      <div class='med-top center-wrapper med-bot'>
        <%= image_tag 'pixipay.png', class: '' %>
      </div>
      PixiPay&#153; allows you to make or receive payments in any location without having to carry cash. Sellers assign virtual invoices to buyers 
      for the items they wanted at the price they agreed to. Upon inspecting the goods, buyers click to pay the invoice, sellers confirm 
      the transaction, and the goods are exchanged.  That meet-up at the coffee shop to buy the laptop you wanted just got a little safer.
      <div class='mtop center-wrapper blue-line'><hr class='width180'></div>
    </div>
  </div>

