<div class='center'>
  <h2>Setup Your Payment Account</h2>
</div>
<div class="row">
  <%= form_for(account, url: set_account_path(@usr), html: {id: 'bank-acct-form', class: "form-horizontal uform"}, data: {validate: 'parsley'}) do |f| %>
    <%= render partial: 'shared/account_form_fields', locals: {f: f, type: 'bank', account: account, id: 'bankForm'} %>
  <% end %>
  <div class="span4 offset5 sm-top mbot"><%= image_tag "check_sample.gif" %></div>
</div>
