<div class='center'>
  <h2>Setup Your Card Account</h2>
</div>
<div class="row">
  <%= form_for(account, url: card_accounts_path(adminFlg: @adminFlg), html: {id: 'card-acct-form', class: "form-horizontal uform"}, remote: true) do |f| %>
    <%= render partial: 'shared/account_form_fields', locals: {f: f, type: 'card', account: account, id: 'cardForm'} %>
  <% end %>
</div>
