<div id='card_list'>
  <div id="top-header" class='sm-top nav pull-right'>
    <%= link_to 'Add Card', new_card_account_path(adminFlg: @adminFlg), class: 'btn btn-small' %>
  </div>
  <div class='clear-all'></div>
  <%= render partial: 'shared/list', locals: {hname: 'shared/card_list_top', pname: 'shared/card_list_row', model: model, item: 'card', tag: 'cards'} %>
</div> 
