<div class="item">
  <div class="center-wrapper">
    <%= link_to category_listings_path(cid: category, loc: @loc), class: '#{set_cat_link_class}', 'data-cat-id'=> category.id do %>
      <%= render partial: 'shared/show_picture', locals: {psize: 'thumb', model: category} %>
    <% end %>
    <div class='sm-top bdescr'>
      <%= show_category_title(category) %>
    </div>
  </div>
</div>
