<div id='comment-entry'>
  <%= add_comments listing %>
</div> 
<div class='clear-all'></div>
<div id='comment-item' class="black-txt <%= set_comment_list_top(listing) %>">
  <%= render_list listing.comments, 'shared/comment_list', 'No comments found.' %>
</div> 
