  <div id='comment-entry'>
    <%= add_comments listing %>
  </div> 
  <div class='clear-all'></div>
  <div id='comment-item' class="black-txt <%= set_comment_list_top(listing) %>">
    <%= render 'shared/comment_list' %>
  </div> 
