<div class='pull-right'>
      <%= image_tag('pixichat-logo.png', class: 'ppay-logo') %>
    </div>
<div id='post-item' class='span11'>
  <%= render partial: 'shared/conversation_list', locals: { sentFlg: sentFlg } %>
</div> 
