<div class='pull-right'>
  <%= image_tag('rsz_pixichat_logo_hort.png', class: 'ppay-logo') %>
</div>
<div class='clear-all'></div>
<div id='post-item'>
  <%= render partial: 'shared/conversation_list', locals: { sentFlg: sentFlg } %>
</div> 
