<% unless conversation.system_msg? %>	
  <td align='right'>
    <% if conversation.due_invoice?(@user) %>
      <%= link_to image_tag('pay-icon.png'), get_unpaid_path, class: 'btn btn-small', id: 'conv-pay-btn', title: 'Pay' %>
    <% end %>
  </td>
  <td>
    <% if conversation.can_bill? @user %> 
      <%= link_to image_tag('bill-icon.png'), get_invoice_path(conversation.other_user(@user).id, conversation.pixi_id), 
	  class: 'btn btn-small', id: 'conv-bill-btn', title: 'Bill' %>
    <% end %>
  </td>
<% end %>
<td align='right'>
  <%= link_to image_tag('trash-icon.png'), remove_conversation_path(conversation, status: @status), :method => :put, 
     confirm: 'Delete this conversation?', class: 'btn btn-small', id: 'conv-trash-btn', title: 'Delete' %>
</td>
