<% if get_card %>
  <div class='offset3 card-dpl'>
    <h5 class="grp-hdr">Payment Information</h5>
    <table>
      <tr>
        <td class='span3 mbot'><%= get_card_data('card_type') %>
          <br><%= "************#{get_card_data('card_no')}" %>
          <br><%= "Exp: #{get_card_data('expiration_month')}/#{get_card_data('expiration_year')}" %></td>
        <td class='v-align price'><%= link_to 'Change', '#', id: 'edit-card-btn', class: 'offset2 btn' %></td>
      </tr>
    </table>
  </div>
<% end %>
