<div class="div-border">
  <%= show_card_details %>
  <div class='sm-top center-wrapper card-tbl' style="<%= set_style(get_card) %>">
    <%= render partial: 'shared/credit_card_info_table', locals: { f: f } %>
  </div>
</div>
