<%= s3_uploader_form callback_param: "temp_listing[pictures_attributes][][photo_url]", id: "s3-uploader" do %>
  <label class="cabinet">
    <%= file_field_tag :file, multiple: true, id: 'photo', class: 'file' %>
  </label>
<% end %>
<div id='uploads_container'></div>
<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
