<div class='row'>
  <div id='sv-txt' class='span1 sm-bot'>Saved photo(s)</div>
  <% for pic in model.pictures %>
    <%= load_edit_image remove_photo, pic, model, photo_msg %>
  <% end %>
</div>
