<% unless model.new_record? %>
  <div class='sm-bot'>Saved photo(s)</div>
  <% for pic in model.pictures %>
      <% unless pic.id.blank? %>
        <div class='span2 center-wrapper'>
	<%= image_tag pic.photo.url, :class => psize %>
	<% if remove_photo %>
	  <%= link_to picture_path(pic, pixi_id: model.pixi_id), method: :delete, confirm: photo_msg, remote: true, class: 'btn btn-mini btn-primary sm-top mbot' do %>
	   Remove 
	  <% end %>
        <% end %>
	</div>
      <% end %>
  <% end %>
<% end %>
