  <table>
    <tbody>
        <%= render partial: 'shared/faq_row', collection: @faqs, as: :faq %>
    </tbody>
  </table>

<div class='pg-list' class="nav pull-right">
  <%= will_paginate @faqs if @faqs.respond_to?(:total_pages) %>
</div> 
