<div class="featured-container">
  <div class='center-wrapper'><br /><div class='bold-tag-line mbot'><%= title %></div></div>
  <div class='featured mleft20'>  
    <%= render(partial: pname, collection: model, as: item.to_sym, locals: {px_size: sz, ftrFlg: false}) %>
  </div>
</div>
