<div class="item-container" style="background: url(<%= asset_path(load_bkgnd(user, 0, true)) %>) no-repeat;">
  <div id='usr-panel'>
    <%= render partial: 'shared/user_details', locals: {user: user, topCls: 'xlg-top', cls: 'big-top sm-top', pxFlg: pxFlg, colorFlg: colorFlg} %>
  </div>
</div>
