<%= render partial: 'home_page_pixi_post' %>
<div class='lg-top pixi-blk-bkgnd'>
  <div class='row mauto35'>
    <%= render partial: 'shared/home_page_footer_links' %>
  </div>
  <div class='row mtop center-wrapper'>
    <small class='helv-white font-bold'>Follow Us On</small>
  </div>
  <div class='row mtop mauto20'>
    <div class="span3 no-left center-wrapper">
      <ul class='sm-top no-list'><%= render 'layouts/footer_image_links' %></ul>
    </div>
  </div>
  <div class='row mtop center-wrapper'>
    <small class='helv-white'>&copy; <%= "#{Date.today.year} #{full_title('')}, Inc." %></small>
  </div>
</div>
