<% provide(:title, page_title) %>
<%= content_for :content do %>
  <h2><%= page_title %></h2>
  <div class='pboard'>
    <%= render partial: 'shared/listing', collection: @listings %>
  </div>
<% end %>

