<div class="modal hide" id="invDialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3 class='center-wrapper'>Invoice Alert</h3>
  </div>
  <div class="modal-body">
    <p class='center-wrapper'>Selected quantity is greater than amount on hand.</p>
  </div>
  <div class="modal-footer">
    <p><a href="#" class="btn btn-small btn-primary" id='inv-ok-btn' data-dismiss="modal">OK</a></p>
  </div>
</div>
