<% cache ['board', listing] do %>
<div class="item">
  <div class="center-wrapper">
    <%= render partial: 'shared/show_temp_pixi_image', locals: {model: listing, pix_size: 'large', img_size: 'pixi-image'} %>
    <div class='sm-top'>
      <span class=' bdescr'><%= item_title listing %></span><br /><span class='loc-descr'><%= "(#{listing.site_name})" %></span>
    </div>
    <%= pixi_footer listing %>
  </div>
</div>
<% end %>
