<div class='row'>
  <div class='span7' style="<%= set_style(edit_mode?(listing)) %>">
    <%= f.label :seller_id, 'Seller' %>
    <%= autocomplete_field_tag 'slr_name', listing.seller_name, autocomplete_user_first_name_temp_listings_path,
	        :update_elements => { :id => '#seller_id' }, :placeholder => 'Seller Name', id: 'slr_name', 
		required: new_pixi_post?(listing) %> 
    <%= f.hidden_field :seller_id, id: 'seller_id', required: new_pixi_post?(listing) %>
  </div>
</div>

