  <div class="grey-text mtop row">
    <div class="span4">
      ID: <%= listing.pixi_id %>
    </div>
    <div class="span4 center-wrapper">
      Posted: <%= listing.format_date listing.start_date %>
    </div>
    <div class="span4 mbot">
      <span class='pull-right'>Updated: <%= listing.format_date listing.updated_at %></span>
    </div>
  </div>
