<% cache cache_key_for_pixi_page(listing, 'footer') do %>
  <div class="grey-text mtop row">
    <div class="span4">
      ID: <%= listing.pixi_id %>
    </div>
    <div class="span4 center-wrapper">
      Posted: <%= listing.display_date listing.start_date %></span>
    </div>
    <div class="span4 mbot">
      <span class='pull-right'>Updated: <%= listing.display_date listing.updated_at %></span>
    </div>
  </div>
<% end %>
