<div class="span4">
  <div class="pic-size">
    <%= render :partial => 'shared/show_photo', :locals => {:model => listing, :file_name => "headshot2.jpg", :psize => '200x200' } %>
  </div>
		
  <%= link_to listing.title, listing_path(listing) %>
  <%= listing.description %>
 </div>
