<% provide(:title, "#{step_name}") %>
  <%= render partial: 'shared/listing_header', :locals => { step_no: 1, step_name: step_name } %>
  <div id="listing_form">
    <%= render partial: 'shared/pixi_form' %>
  </div>
