<% cache cache_key_for_pixi_page(listing, 'seller_name') do %>
  <div class='v-align'>
    Posted By: <%= listing.seller_name %> 
    <%= render partial: 'shared/user_rating', locals: {model: listing.user, colorFlg: false} %>
  </div>
<% end %>
