<div id='slr-pic' class='span1 no-left'>
  <%= render partial: 'shared/show_photo', locals: {model: listing.user, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
</div>
<div id='slr-det' class='no-left span5'>
  <%= render partial: 'shared/listing_seller_name', locals: {listing: listing} %>
  <div class='clear-all'></div>
  <%= render partial: 'shared/listing_panel', locals: {listing: listing} unless !listing.active? || listing.seller?(@user) %>
  <%= render partial: 'shared/metric_panel', locals: {listing: listing} if show_metric_panel? listing %>
</div>

