<div class='sm-top'>
  <table class="table table-hover table-condensed table-bordered">
    <%= render partial: hname %>
    <tbody>
      <%= render partial: pname, collection: model, as: item.to_sym %>
    </tbody>
  </table>
</div>
