<div id='pixi-hdr' class='div-border bar-top hdr pixi-grey-bkgnd'>
  <div class='container'>
    <span class='grp-hdr'><%= "Step #{step_no} of #{step_count}: #{step_name}" %></span>
  </div>
</div>

