<div class="span2 pic-frame">
  <div class="center">
    <%= render :partial => 'shared/show_photo', :locals => {:model => listing, :file_name => "star.jpg", :psize => '120x120' } %>
    <%= link_to listing.title, listing_path(listing, :user_id=>@user) %><br />
  </div>
  <%= listing.brief_descr %>
 </div>
