<div class="item-container" style="background: url(<%= asset_path(load_bkgnd(site, 0, true)) %>) no-repeat;">
  <div class='home-title-grp'><span class='mleft20 small-title-white'><%= @loc_name %></span></div>
</div>
