    <div class='float-left width360 sm-top sm-bot'>
      <% if linkFlg %>
        <%= link_to image_tag('px_word_logo.png', class: 'px-logo'), get_home_path, class: 'site-logo' %>
      <% else %>
        <%= image_tag 'pixilogo_word_white.png', class: 'px-logo' %>
      <% end %>
    </div>
