<% provide(:title, 'Manage Followers') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: 'Manage Followers' } %>
<% end %>

<%= content_for :content do %>
  <div id="pendingOrder">
    <%= render_list @users, 'shared/manage_followers_list', 'No followed sellers found.' %>
  </div>
<% end %>
