<div class="pixi-select pull-right">
  <%= show_menu_status @status, statusFlg %>
  <%= render partial: 'shared/category_list', locals: { ptype: ptype } %>
  <%= render partial: 'shared/sites' %>
</div>
