<span id='want-cnt'><%= "Want (#{listing.wanted_count})" %></span>
<span id='cool-cnt' class='mleft10'><%= "Cool (#{listing.liked_count})" %></span>
<span id='save-cnt' class='mleft10'><%= "Saved (#{listing.saved_count})" %></span>
