<div id='met-panel' class='mtop sm-bot'>
  <div id='want-cnt' class='box'><div class='metric-box'>
    <span class='metric-tag-bold'><%= "#{nth(listing.wanted_count)}" %></span><br />
    <span class='metric-tag-small'>Wants</span></div>
  </div>
  <div id='ask-cnt' class='ask-box'><div class='metric-box'>
    <span class='metric-tag-bold'><%= "#{nth(listing.asked_count)}" %></span><br />
    <span class='metric-tag-small'>Asks</span></div>
  </div>
  <div id='cool-cnt' class='cool-box'><div class='metric-box'>
    <span class='metric-tag-bold'><%= "#{nth(listing.liked_count)}" %></span><br />
    <span class='metric-tag-small'>Cools</span></div>
  </div>
  <div id='save-cnt' class='save-box'><div class='metric-box'>
    <span class='metric-tag-bold'><%= "#{nth(listing.saved_count)}" %></span><br />
    <span class='metric-tag-small'>Saves</span></div>
  </div>
</div>
