<span id='want-cnt'><%= "Want (#{nth(listing.wanted_count)})" %></span>
<span id='cool-cnt' class='mleft10'><%= "Cool (#{nth(listing.liked_count)})" %></span>
<span id='save-cnt' class='mleft10'><%= "Saved (#{nth(listing.saved_count)})" %></span>
