<% provide(:title, 'My Followers') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: 'My Followers' } %>
<% end %>

<%= content_for :content do %>
  <div id="pendingOrder">
    <%= render_list model, 'shared/my_followers_list', 'No followers found.' %>
  </div>
<% end %>
