<tr>
  <td class='span1 center-wrapper'>
    <%= render partial: 'shared/show_temp_pixi_image', locals: {model: user, pix_size: 'tiny', img_size: 'usr-sm-photo'} %>
  </td>
  <td class='span2'><%= user.name %></td>
  <td class='span2'><%= get_user_loc(user) %></td>
  <td class='span2'><%= @user.nice_date(user.date_followed(@user.id)) %></td>
</tr>
