	  <ul class="nav pull-right">
	    <li class="active"><%= link_to "Recent", listings_path, class: 'submenu', remote: true %></li>
	    <li><a href="#">Suggested</a></li>
          </ul>
	  <div class="width240 pixi-select pull-right">
	    <%= render partial: 'shared/sites', locals: { ptype: false } %>
          </div>
