<%= render partial: 'shared/navbar_sites_links' %>
<div class='clear-all'></div>
<div id='site-type-dropdown' class='lg-neg-top pixi-select pull-right'>
  <%= render partial: 'shared/site_type' if @stype %>
</div>
