<ul class="nav pull-right">
    <li class="active"><%= link_to "Received", posts_path, class: 'submenu', remote: true %></li>
    <li><%= link_to "Sent", sent_posts_path, class: 'submenu', remote: true %></li>
</ul>
