<div id="submenu" class="bar-top">
  <div class="navbar">
    <div class="navbar-inner hdr">
      <span class="brand grp-hdr">Pixis</span>
      <div id="profile-menu">
	<ul class="nav">
	  <li class="active"><%= link_to "Profile", settings_path, remote: true %></li>
	  <li><%= link_to "Contact", settings_contact_path, remote: true %></li>
	  <li><a href="#">My Sites</a></li>
	  <li><%= link_to "Change Password", settings_password_path, remote: true %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

