<ul class="nav">
  <li><%= get_current_region @listing %></li> <span class="divider">|</span>
  <li><%= link_to @listing.site_name, category_listings_path(cid: @listing.category_id, loc: @listing.site_id) %></li>
  <span class="divider">|</span>
  <li><%= link_to @listing.category_name, '#' %></li>
</ul>
