<div class="navbar bar-top">
  <div class="navbar-inner">
    <div class='center-wrapper'><a class="brand" href="#"><%= hdr %></a></div>
    <ul class="nav pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
