<div id="submenu" class="bar-top">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">Pending Orders</span>
        <div id="profile-menu">
	  <nav>
	  <div class="width280 pixi-select pull-right">
	    <%= render partial: 'shared/sites', locals: { ptype: true } %>
          </div>
	  </nav>
        </div>
      </div>
    </div>
  </div>
</div>
