<ul class="nav pull-right">
  <li id='li_home' class="active">
    <%= link_to "Recent", '#', id: 'recent-link', class: 'submenu' %></li>
</ul>
<div class="pixi-select pull-right">
  <%= render partial: 'shared/category_list', locals: { ptype: false } %>
  <%= render partial: 'shared/sites' %>
</div>
