<ul class="nav">
  <li id='li_home' class="<%= action_name == 'index' ? 'active' : '' %>">
    <%= link_to "Active", pending_listings_path(status: 'pending'), class: 'submenu', id: 'pending-pixis', remote: remote? %></li>
  <li><%= link_to "Denied", pending_listings_path(status: 'denied'), class: 'submenu', id: 'denied-pixis', remote: remote? %></li>
</ul>
