<ul class="nav">
  <li class="active"><%= link_to "Active", seller_listings_path, class: 'submenu', remote: true %></li>
  <li><%= link_to "Unposted", unposted_temp_listings_path, class: 'submenu', remote: true %></li>
  <li><%= link_to "Sold", sold_listings_path, class: 'submenu', remote: true %></li>
  <li><%= link_to "Saved", saved_listings_path, class: 'submenu', remote: true %></li>
</ul>
