<ul id='nav-home-menu' class="nav pull-right">
  <%= render partial: 'shared/site_menu', locals: { loc_name: loc_name } %>
</ul>
<div class="pixi-select pull-right">
  <%= render partial: 'shared/category_list', locals: { ptype: false } %>
  <%= render partial: 'shared/sites' %>
</div>
