<ul id='nav-site-menu' class="nav pull-right">
  <%= render partial: 'shared/site_menu', locals: { loc_name: loc_name, rFlg: rFlg && @url.blank? } %>
</ul>
<div class="pixi-select pull-right">
  <%= show_status_menu @status, statusFlg %>
  <%= show_menu_fields false %>
</div>
