<div id="submenu" class="bar-top">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand"><%= parse_item menu_name, 'name' %></span>
        <div id="profile-menu">
	  <nav>
	    <%= link_to image_tag('home-4-xxl.png', class: 'home-img'), root_path, class: 'home-link' %>
	    <%= set_submenu menu_name %>
	  </nav>
        </div>
      </div>
    </div>
  </div>
</div>
