<div id="submenu" class="bar-top">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand"><%= menu_name %></span>
        <div id="profile-menu">
	  <nav>
	    <%= set_submenu menu_name %>
	  </nav>
        </div>
      </div>
    </div>
  </div>
</div>
