   <tr>
    <th class='width320'>Item</th>
    <th class="price width120">Quantity</th>
    <th class="price width140">Price</th>
  </tr>
  <% (1..order[:cnt].to_i).each do |i| %>
  	<% if order['quantity'+i.to_s].to_i > 0 %>
  	  <tr>
  		<td class='width320'><%= order['item'+i.to_s] %></td>
  		<td class="price"><%= order['quantity'+i.to_s] %></td>
  		<td class="price"><%= ntc(order['price'+i.to_s].to_f * order['quantity'+i.to_s].to_i) %></td>
  	  </tr>
  	<% end %>
  <% end %>
  <%= render partial: 'shared/order_total', :locals=>{paid: paid, invoice: invoice} %>
