<tr>
  <td class='width320'>
    <%= render partial: 'shared/show_photo', locals: {model: get_item(order['id'+i.to_s]), file_name: "tip-image", psize: '80x80', 
      display_cnt: 0 } %>
    <span class='sm-top mleft10'><%= order['item'+i.to_s] %></span></td>
    <td class="price"><%= order['quantity'+i.to_s] %></td>
    <td class="price"><%= ntc(order['price'+i.to_s].to_f * order['quantity'+i.to_s].to_i) %></td>
</tr>

