<div id="pmtForm">
  <%= render partial: 'shared/pixi_submit', locals: {model: model, step_name: step_name} %>

  <div class="mtop center-wrapper">
    You should receive a confirmation of your pixi's status soon.
    <%= 'Your account will be charged upon approval.' if amtFlg %>

    <div class="mtop">Keep on pixing!</div>
    <div class="mtop mbot">
      <%= link_to "Done", get_home_path, :class => "btn btn-large btn-primary submit-btn", :id => 'pixi-complete-btn' %>
    </div>
  </div>
</div>
