<%= content_for :subhead do %>
  <%= render partial: 'shared/logo_header', locals: { linkFlg: true } %>
  <div class='row'>
    <div id='home-pg-hdr' class='mtop nav pull-right'>
      <%= render 'shared/pg_header_row' %>
    </div>
  </div>
<% end %>
