  <div class='row med-top'>
    <div class='offset1 span8'><div class='section-hdr'><%= stitle %></div></div>
    <div class='offset2 span1'>
      <%= "v#{PIXI_VERSION}" if action_name == 'help' %>
    </div>
  </div>
