  <div class='width120 center-wrapper mbot'>
    <%= fields_for "temp_listing[pictures_attributes][]", Picture.new, index: nil do |form| %>
      <label class="cabinet">
        <%= form.file_field :photo, { id: "photo", multiple: true, class: 'file' } %>
      </label>
    <% end %>
    <div class='px-neg-top right-form'>
      <%= render partial: 'shared/tooltip', locals: { msg: 'Hold Shift or CTRL key to select multiple images.' } %>
    </div>
  </div>

