<div class="bxslider">
  <% for pic in model.pictures %>
    <div class='center-wrapper'><%= show_slide pic %></div>
  <% end %>
</div>
<div class="bx-pager med-top mleft5">
  <%= set_pager model %>
</div>
