  <div>
    <%= fields_for "temp_listing[pictures_attributes][]", Picture.new, index: nil do |form| %>
      <td><%= form.label :photo, 'Select Image(s)' %>
        <%= form.file_field :photo, { id: "photo", multiple: true } %></td>
    <% end %>
  </div>

