  <div>
    <%= fields_for "temp_listing[pictures_attributes][]", Picture.new, index: nil do |form| %>
      <td><label class="cabinet">
        <%= form.file_field :photo, { id: "photo", multiple: true, class: 'file' } %>
	</label>
      </td>
    <% end %>
  </div>

