<div class='center-wrapper'>
<% if model %>
  <div class="bxslider">
    <% for pic in model.pictures %>
      <div>
        <% if controller_name == 'temp_listings' %>
          <%= image_tag get_pixi_image(pic), class: 'lrg_pic_frame' if pic.photo? %>
        <% else %>
          <%= image_tag get_pixi_image(pic, 'large'), class: 'lrg_pic_frame', title: 'Pin it @ Pinterest' if pic.photo? %>
        <% end %>
     </div>
    <% end %>
  </div>
<% end %>
</div>
