  <div class='width120 center-wrapper mbot'>
    <% if s3Flg %>
      <%= render partial: 'shared/direct_photo_upload' %>
    <% else %>
      <%= render partial: 'shared/photo_form' %>
    <% end %>
    <div class='px-neg-top right-form'>
      <%= render partial: 'shared/tooltip', locals: { msg: 'Hold Shift or CTRL key to select multiple images.' } %>
    </div>
  </div>

