<div class='center-wrapper'>
<% if model %>
  <div class="bxslider">
    <% for pic in model.pictures %>
        <div>
        <% unless pic.photo_file_name.blank? %>
	  <%= image_tag pic.photo.url, :size => psize %>
        <% end %>
	</div>
    <% end %>
  </div>
<% end %>
</div>
