<% if model %>
  <div class='center-wrapper'>
    <div class="bxslider">
      <% for pic in model.pictures %>
        <div class='slide'>
          <%= image_tag set_element(pic), class: 'lazy lrg_pic_frame', title: set_image_title, lazy: true if pic.photo? %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
