<% if model %>
  <div class='center-wrapper'>
    <div class="bxslider">
      <% for pic in model.pictures %>
        <div class='slide'>
          <%= image_tag get_pixi_image(pic, set_element(true)), class: 'lazy lrg_pic_frame', title: set_element(false), lazy: true if pic.photo? %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
