<% if signed_in? %>
  <div class='row'>
    <div class='span4'> 
      <label class='control-label'><span class='no-left span2'>Requested By: </span>
        <%= render partial: 'shared/show_photo', locals: {model: @user, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
            <span class='mleft10'><%= @user.name %></span></label>
    </div>
  </div>
<% end %>
<%= render partial: 'shared/pixi_post_form_dates', locals: { f: f, post: post } %>
<%= render partial: 'shared/pixi_post_form_data', locals: { f: f, post: post } %>
