<div id='pxp-address' class="div-border">
  <%= render partial: 'shared/pixi_post_address_top', locals: {post: post} %>
  <div class='sm-top user-tbl' style="<%= set_style(post.has_address?) %>">
    <%= render partial: 'shared/pixi_post_address_body', locals: {f: f, post: post} %>
    <%= render partial: 'shared/pixi_post_phone', locals: {f: f, post: post} %>
  </div>
</div>
