<tr class='mtop'>
  <td class='span3'><%= title %></td>
  <td class='span7'>
    <%= render partial: 'shared/show_photo', locals: {model: model, file_name: cls, psize: '80x80', display_cnt: 0 } %>
    <div class="<%= hdrCls %> med-top mbot"><span class='mleft10'><%= name %></span></div>
  </td>
</tr>

