<li id="<%= leader.id %>">
  <%= render partial: 'shared/show_photo', locals: {model: leader, file_name: "myimage", psize: '60x60', display_cnt: 0 } %>
  <div class='span5'>
    <div class='recent'>
      <%= leader.name %>
    </div>
    <div class="pull-right">
      <div class='recent'><%= get_points(leader.id) %></div>
      <span class="timestamp">points.</span>
    </div>
  </div>
  <div class='clear-all'></div>
</li>
