  <div class='center hdr mbot'><h2 class='grp-hdr'><%= step_name %></h2></div>
  <div class='row'>
    <span class="span2 offset2">
      <%= render partial: 'shared/show_photo', locals: {model: model, psize: '180x180', file_name:'pixi-photo', display_cnt: 0} %>
    </span>
    <span class="span7">
      <div class="mtop hdr">Your pixi <span class='grp-hdr'><%= model.title %></span> has been submitted.</div>
    </span>
  </div>

