    <div class='sm-top gdescr'>
      <div class='item-cat pixi-grey-bkgnd'>
        <%= set_pixi_details listing %>
      </div>
      <div class='item-dt pixi-grey-bkgnd' data-cat-id="<%= listing.category_id %>">
	<%= item_category listing %>
      </div>
    </div>
