<%= render partial: 'shared/report_header', locals: {path: pixter_report_pixi_posts_path(date_range: @date_range, pixter_id: pid, format: "csv")} %>
<div id='pxp-report' class="clear-all"></div>
<%= report_title pxp_title(pid) %>
<%= render_list model, 'shared/pixi_post_report_data', 'No posts found.' %>
