<div class='med-top center hdr mbot'><%= image_tag 'itsmagic.png', class: 'big_logo' %></div>
<div class='row'>
  <div class='v-align span12 center-wrapper'>
    <div class="div2 offset1">
      <%= render partial: 'shared/show_photo', locals: {model: model, psize: '180x180', file_name:'pixi-photo', display_cnt: 0} %>
    </div>
    <div class="mtop hdr">Your pixi <span class='grp-hdr'><%= model.title %></span> has been submitted.</div>
  </div>
</div>

