<div id="inv_form">
  <%= render :partial => 'shared/date_range_list' %>
  <%= load_admin_list %>
  <div id="px-rpt">
    <%= render partial: 'shared/pixi_post_pixter_report_list', locals: {model: model, pid: pid} %>
  </div>
</div>
