<div class='med-top center hdr mbot'><%= image_tag 'itsmagic.png', class: 'big_logo' %></div>
<div class='row'>
  <%= show_pixi_preview model %>
  <div class='v-align span12 center-wrapper'>
    <div class="mtop hdr">Your pixi <span class='grp-hdr'><%= model.title %></span> has been submitted to be posted on the board. </div> 
  </div>
</div>
