<div class="div-border">  
  <h4 class="grp-hdr">1. Review Your Order</h4>
  <div class="mtop">  
  <span class="span2"><%= render :partial => 'shared/show_photo', :locals => {:model => @listing, :psize => '150x150', :file_name=>'star.jpg' }%></span>
  <div class="offset2"><h5><%= @listing.nice_title %></h5></div>
  <table class="offset2">
    <%= render :partial=>'shared/order_details', :locals=>{:order=>@order, :paid=>false} %>
    <tr></tr>
  </table>
  </div>
</div>
