    <tr><td>Sales Tax</td><td></td>
  	<td class="price"><%= ntc(invoice.tax_total) %></td>
    </tr>
    <tr class='row-top'><td>Shipping</td><td></td>
  	<td class="price"><%= ntc(invoice.ship_amt) %></td>
    </tr>

