<div class="div-border">  
  <h4 class="grp-hdr">1. Review Your Order</h4>
  <div class="mtop">  
    <span class="span4">
      <%= render :partial => 'shared/show_photo', :locals => {model: @listing, psize: '300x300', file_name:'star.jpg', display_cnt: 1} %>
    </span>
    <div class="offset2"><h5><%= @listing.nice_title %></h5></div>
    <table class="offset2">
      <%= render :partial=>'shared/order_details', :locals=>{:order=>@order, :paid=>false} %>
      <tr></tr>
    </table>
  </div>
</div>
