<div class="sm-top div-border">  
  <div class='pull-right'>
    <%= image_tag('rsz_pixipay.png', class: 'ppay-logo') %>
  </div>
  <div class="mtop">  
    <div class="offset3"><h5><%= order[:title] %></h5></div>
    <table class="offset3 mtop mbot">
      <%= render :partial=>'shared/order_details', :locals=>{txn: txn, order: order, paid: false} %>
      <tr></tr>
    </table>
  </div>
</div>
