<%= form_tag user_searches_path, :method => :get, :remote=>true, id: 'search_btn', class: 'navbar-search' do %> 	
   <div class="controls">
     <div class="input-append">
       <%= autocomplete_field_tag 'search_user', nil, get_autocomplete_path, :id_element => '', :update_elements => {}, 
          :placeholder => set_placeholder, class: 'span3 search-text' %>
       <button type='submit' id='submit-btn' class="btn btn-search" type="button">
	   <i class="icon-search icon-white"></i></button>
     </div>
   </div>
<% end %>
