<%= form_tag searches_path, :method => :get, :remote=>true, id: 'search_btn', class: 'navbar-search' do %> 	
   <div class="controls">
     <div class="input-append">
       <%= text_field_tag 'search', nil, placeholder: 'Search', class: 'span3 search-text' %>
       <button type='submit' id='submit-btn' class="btn btn-medium btn-warning" type="button">
	   <i class="icon-search icon-white"></i></button>
     </div>
   </div>
<% end %>
