<% cache cache_key_for_seller(user, 'seller') do %>
<div class="<%= set_item_class(ftrFlg) %>">
  <div class="center-wrapper">
    <%= render partial: 'shared/show_temp_pixi_image_lazy', locals: {model: user, pix_size: px_size, img_size: 'pixi-image'} %>
    <div class='sm-top sm-bot'>
      <span class=' bdescr'><%= "#{user.name}" %></span><br /><%= render_title user %>
    </div>
  </div>
</div>
<% end %>

