  <%= render_conv_fee invoice, invoice.owner?(@user) %>
  <tr>
    <td></td>
    <td></td>
    <td><div class='order-total price'>Amount You Receive</div></td>
    <td class="width120"><div class='order-total price'><%= ntc invoice.amount - get_invoice_fee(invoice) %></div></td>
  </tr>

