  <%= render partial: 'shared/show_conv_fee' if @invoice.owner?(@user) %>
  <tr>
    <td></td>
    <td></td>
    <td><div class='order-total price'>Amount You Receive</div></td>
    <td class="width120"><div class='order-total price'><%= ntc @invoice.amount - get_invoice_fee %></div></td>
  </tr>

