<%= render partial: 'shared/show_invoice_header', locals: {invoice: invoice} %>
<div class="row">
  <div class="sm-top span12">
    <div class="control-group">
      <%= render partial: 'shared/invoice_details', locals: {invoice: invoice} %>
      <label class="sm-top control-label">Comments: <%= sanitize invoice.comment %></label>
    </div>
    <%= build_inv_buttons invoice %>
  </div>
</div>
