<div class="mtop pull-right">
  <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-large' %>
  <%= link_to 'Done', users_path(utype: user.user_type_code), class: 'btn btn-large btn-primary submit-btn' %>
</div>
