<div class='neg-top center hdr mbot'><h3 class='grp-hdr'>PixiPost Request</h3></div>
<%= render partial: 'shared/pixi_post_details', locals: {post: post, showAddrFlg: true, hdrCls: 'xlg-top'} %>
<%= show_pp_buttons post %>

