<div class='pull-right mbot'>
  <%= image_tag('rsz_pixichat_logo_hort.png', class: 'ppay-logo') %>
</div>
<div class='clear-all'></div>
<% if conv_exists? conversation %>    
  <%= render partial: 'shared/show_conversation_header', locals: { conversation: conversation } %>
  <div id='accordion'>
    <%= render partial: 'shared/post', collection: get_posts(conversation), locals: { sentFlg: sentFlg } %>
  </div>
  <div class='sm-top'>
    <%= render partial: 'shared/reply', locals: { sentFlg: sentFlg, conversation: conversation } unless conversation.system_msg? %>
  </div>
<% else %>
  <div class='span12 sm-top'>
    <div class='center-wrapper'>No messages found.</div>
  </div>
<% end %>
