<div class="mtop pull-right">
  <%= link_to 'Edit', edit_site_path(@site), id: 'site-edit-btn', class: 'btn btn-large' %>
  <%= link_to 'Done', sites_path(status: 'active', stype: 'region'), id: 'usr-done-btn', class: 'btn btn-large btn-primary submit-btn' %>
</div>
