<label class='control-label'><span class='no-left span1'>From: </span>
  <%= render partial: 'shared/show_photo', locals: {model: model, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
  <span class='mleft10'><%= invoice.send(fld) %></span>
</label>

