<div class="row offset2">
  <div class="span8"><%= render partial: 'shared/user_band', locals: {user: user, pxFlg: true, colorFlg: false} %></div>
</div>
<%= render partial: 'shared/show_user_details', locals: {user: user, showFlg: true} %>
<%= show_user_buttons user %>
