<% if model %>
  <% if display_cnt < 2 %>
    <div class="<%= display_cnt == 0 ? '' : 'pic-frame' %>">
      <%= image_tag(model.pictures.first.photo.url, :size => psize) if model.pictures %>
    </div>	
  <% else %>
    <%= render partial: 'shared/photos', locals: {model: model, psize: psize } %>
  <% end %>
  <%= render :partial => 'shared/photo_item', :locals => {:file_name=>file_name, :model=>model, :psize=>psize} %>
<% end %>
