<% if model %>
  <% if display_cnt < 2 %>
    <div class="<%= display_cnt == 0 ? '' : 'pic-frame' %>">
      <%= image_tag(model.pictures.first.photo.url, :size => psize) if model.pictures %>
    </div>	
  <% else %>
    <% for pic in model.pictures %>
      <div class='pic-frame'>
        <% unless pic.photo_file_name.blank? %>
	  <%= image_tag pic.photo.url, :size => psize %>
        <% end %>
      </div>	
    <% end %>
  <% end %>
  <%= render :partial => 'shared/photo_item', :locals => {:file_name=>file_name, :model=>model, :psize=>psize} %>
<% end %>
