<% if model %>
  <% if display_cnt < 2 %>
    <div class="<%= display_cnt == 0 ? file_name : 'pic-frame' %>">
      <%= image_tag(get_pixi_image(model.pictures[0]), :size => psize) if model.pictures[0] %>
    </div>	
  <% else %>
    <%= render partial: 'shared/photos', locals: {model: model, psize: psize } %>
  <% end %>
<% end %>
