<div class='clear-all'></div>
<div class="modal-footer">
  <div class='center-wrapper'><%= render 'shared/signup_form_terms' %>
    <p class='mtop'><%= f.submit "Register", class: "btn btn-small btn-primary btn-mask", id: 'register-btn', data: {disable_with: "Submitting..."} %>
       <a href="#" class="btn btn-small" data-dismiss="modal">Close</a></p>
  </div>
</div>
