<div class="modal hide fade" id="signupDialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3 class='center-wrapper'>Create Your Account</h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'shared/signup_form', locals: {src: 'modal'} %>
  </div>
</div>
