    <div class=''>
      <% if rmbrFlg && devise_mapping.rememberable? -%>
	<label class="checkbox">
	   <%= f.check_box :remember_me %><span class='mleft5'>Remember Me</span> 
           <span class='pull-right'><%= render partial: 'shared/signin_footer' %></span>
	</label>
      <% else %>
        <%= render partial: 'shared/signin_footer' %>
      <% end -%>
    </div>
