<div class='clear-all'></div>
<div class='sm-top sdescr'>
  <div class='mleft20'>
    By registering, I accept <%= link_to "Pixiboard's Terms of Service", terms_path, class: 'terms-link' %> and  
    <%= link_to "Privacy Policy", privacy_path, class: 'terms-link' %>. We do not share your personal information.
  </div>
</div>
