<% if rFlg %>  
  <li id='li_home' class="active"><%= link_to "Recent", '#', id: 'recent-link', class: 'submenu' %></li>
<% end %>
<li class='med-top mleft10'><span id='menu_site_name'><%= show_loc_name loc_name %></span></li>
