<div class='span1'>
<ul id='social-links'>
  <li><%= link_to image_tag('facebook_icon.png', class: 'social-img'), fb_share, class: 'pixi-link', id: 'fb-link', title: 'Share on Facebook',
    target: :blank %></li>
  <li><%= link_to image_tag('twitter_icon.png', class: 'social-img'), '#', class: 'pixi-link', id: 'tw-link', title: 'Share on Twitter' %></li>
  <li><%= link_to image_tag('pinterest_icon.png', class: 'social-img'), '', class: 'pixi-link', title: 'Share on Pinterest',
    id: 'pi-link' %></li>
  <li><%= link_to image_tag('instagram_icon.png', class: 'social-img'), '', class: 'pixi-link', id: 'ins-link', title: 'Share on Instagram' %></li>
</ul>
</div>
