<%= render partial: 'shared/pg_sub_header', locals: { stitle: 'Our Pixans' } %>
<div class='row med-top'>
  <div class='offset1 span12'>
  <table>
      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame3_sean.png', class: 'team-img') %></td>
        <td valign="top" class='span7'><span class='title-str'>Sean Brown, Founder & Chief Pixan</span><br>
          Serial entrepreneur. Jazz enthusiast. Runner.<br>
          CEO BuzzHub | VP Eng AutoTown | University of Michigan, BS & MSE
        </td>
      </tr>

      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame2_hank.png', class: 'team-img') %></td>
        <td valign="top"class='span7'><span class='title-str'>Hank Ritchie, Chief Operating Pixan</span><br>
          Program motivator. Amateur photographer. Outdoor adventurer.<br>
          M Squared Consulting | VP Wells Fargo Bank | Tulane University, BA
        </td>
      </tr>

      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame1_tommy.png', class: 'team-img') %></td>
        <td valign="top"class='span7'><span class='title-str'>Tommy Cross, Lead Marketing Pixan</span><br>
          Cultural connoisseur. Food enthusiast. Children Advocate.<br>
          Program Director Opportunity Impact | San Francisco State, BA
        </td>
      </tr>
  </table>
  </div>  
</div>  

