<table class="border-collapse: collapse table table-hover table-condensed table-bordered ">
  <%= render partial: 'shared/transaction_top' %>
  <tbody><%= render partial: 'shared/transaction_row', collection: model, as: :transaction %></tbody>
</table>
<%= paginate_list 'txn-list', model %>
