<div class="<%= cls %>">
  <%= f.submit txt, class: "btn btn-large btn-primary submit-btn", data: {disable_with: "Submitting..."} %>
  <%= link_to 'Cancel', user, id: 'usr-cancel-btn', class: "med-neg-top mleft10 btn btn-large", 
    remote: true, data: { confirm: 'All changes will be lost.' } %>
</div>

