<div class="item-container" style="background: url(<%= asset_path(load_bkgnd(user)) %>) no-repeat;">
  <%= render partial: 'shared/user_details', locals: {user: user, topCls: 'xlg-top', cls: 'big-top sm-top', pxFlg: pxFlg, colorFlg: false} %>
  <div class='img-right pad20 comm-section'>
    <%= show_edit_cover_icon user %>
  </div>
</div>
