<% if listing.user_wanted?(@user) %>
  <%= image_tag 'rsz_check-mark-md.png', class: 'checkmark' %><span class='mleft5'>Want</span>
<% else %>
  <% unless signed_in? %>
    <%= link_to 'Want', set_want_path(listing.pixi_id), method: 'post', class: 'btn btn-primary submit-btn width100', id: set_want_id, 
      remote: !signed_in?, title: want_msg %>
  <% else %>
    <div id='post_form'>
      <%= render partial: 'shared/want_modal', locals: { listing: listing, mtype: 'want', msg: PIXI_POST, txt: want_msg } %>
      <%= link_to "Want", "#wantDialog", class: 'btn btn-primary submit-btn width100 mright10', 'data-toggle'=>"modal", title: want_msg %>
    </div>
  <% end %>
<% end %>
