<% provide(:title, 'Settings') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { section_name: 'Settings' } %>
<% end %>
<%= content_for :content do %>
  <div class="row mbot" id="user_form">
    <%= render partial: 'shared/user_form' %>
  </div>
<% end %>
