<div class='big-top'>
  <div class='row'>
    <div class='lg-top offset1 span4'>
      <%= image_tag PXB_HOME_PAGE_KEYS['pixi']['mobile_file'], class: 'pad20' %>
    </div>
    <div class='offset2 span5 jumbo-top'>
      <span class='mobile-tag'><%= PXB_HOME_PAGE_KEYS['pixi']['mobile_line'] %></span><br />
      <div class='lg-top'><span class='mobile-tag-line'><%= PXB_HOME_PAGE_KEYS['pixi']['mobile_tag_line'] %></span></div>
      <div class='big-top'><%= link_to 'Learn More', '/howitworks#pxpay', class: 'btn btn-large clear-btn' %></div>
    </div>
  </div>
</div>
