<div class='span3 <%= "#{ctype}-container" %>'>
  <div class='span2 no-left center-wrapper pad10 <%= "pixi-#{ctype}-bkgnd" %>'>
    <span class='comm-tag-line'><%= ctag %></span>
  </div>
  <div class='center-wrapper pad20 bg-transparent comm-section'>
    <span class='comm-tag-small'><%= PXB_HOME_PAGE_KEYS['pixi']["#{ctype}_tag_line"] %></span>
  </div>
</div>
