  <div class='container'>
    <div class='huge-top center-wrapper'>
      <span class='home-page-title'><%= PIXI_KEYS['pixi']['caption'] %></span><br /><br />
      <span class='tag-line'><%= PIXI_KEYS['pixi']['tag_line'] %></span>
    </div>
    <div class='mtop offset4 span5'>
      <%= link_to 'Join for Free!', new_user_registration_path, class: 'btn btn-large btn-primary submit-btn span2' %>
    </div>
  </div>
