<div class='span2'>
  <%= image_tag PXB_HOME_PAGE_KEYS['pixi']['why_pxb_file'+cnt.to_s] %>
  <div class='med-top'>
    <span class='why-tag'><%= PXB_HOME_PAGE_KEYS['pixi']['why_pxb_tag'+cnt.to_s] %></span><br />
    <div class='sm-top'><span class='why-tag-line'><%= PXB_HOME_PAGE_KEYS['pixi']['why_pxb_line'+cnt.to_s] %></span></div>
  </div>
</div>
