  <div class='row big-top'>
    <div class='offset1 span4 center-wrapper'>
      <%= render partial: 'home_page_pxb_section', locals: {cnt: val+1} %>
    </div>
    <div class='span4 center-wrapper'>
      <%= render partial: 'home_page_pxb_section', locals: {cnt: val+2} %>
    </div>
    <div class='span3 center-wrapper'>
      <%= render partial: 'home_page_pxb_section', locals: {cnt: val+3} %>
    </div>
  </div>

