<div class='row lg-top'>
  <div class='pxp-bkgnd'>
    <div class='pxp-items center-wrapper'>
      <span class='pxp-tag'>Schedule a PixiPost&trade; today.</span>
      <div class='sm-top'><span class='pxp-tag-line'><%= PXB_HOME_PAGE_KEYS['pixi']['pxp_tag_line'] %></span></div>
      <div class='mtop row'>
        <div class='center-wrapper'>
          <div class="col-sm-offset-5 col-sm-2 text-center">
	    <%= link_to 'Get Started', check_pixi_post_zips_path, class: "btn btn-large btn-primary pxb-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
