<% provide(:title, 'Contact') %>
<%= render partial: 'shared/pg_header', locals: { linkFlg: true } %>
<%= content_for :content do %>
  <h1>Contact</h1>
  <p>Find me in app/views/pages/contact.html.erb</p>
<% end %>
