<%= content_for :content do %>
	<div class="splash-top center-wrapper">
		<p><%= image_tag("#{get_name_or_logo('logo')}", :class =>"logo") %></p>
	</div>
	<div class="splash-top">
		<div class="version nav-right">v2.01 beta</div>
	</div>
<% end %>

