<div class="div-border">
  <h4 class="grp-hdr">2. Enter Your Address</h4>
  <center>
    <table class="mtop">
      <%= render :partial => 'mobile/user_address', :locals => { :form => f, :toggle => false } %>
    </table>
  </center>
</div>

