<div class="item">
  <div class="center-wrapper">
    <%= link_to category_listings_path(cid: category, loc: @loc), 'data-ajax'=>"false" do %> 
      <%= render partial: 'mobile/show_picture', locals: {psize: 'thumb', model: category} %>
    <% end %>
    <div class='sm-top bdescr'>
      <%= show_category_title(category) %>
    </div>
  </div>
</div>
