<div data-role="popup" id="popupPix" data-overlay-theme="a" data-theme="b" class="ui-corner-all">
  <div data-role="header" data-theme="a" class="ui-corner-top">
    <h1>Source</h1>
  </div>
  <div data-role="content" data-theme="b" class="ui-corner-bottom ui-content">
    <%= link_to 'Camera', '#', id: 'camera', 'data-role'=>"button" %>
    <%= link_to 'Gallery', '#', id: 'gallery', 'data-role'=>"button" %>
    <%= link_to 'Album', '#', id: 'album', 'data-role'=>"button" %>
  </div>
</div>
