<%= link_to 'Learn more', '#popupInfo', 'data-rel'=>"popup", 'data-role'=>"button", class: "ui-icon-alt", 'data-inline'=>"true", 
   'data-transition'=>"pop", 'data-icon'=>"info", 'data-theme'=>"a", 'data-iconpos'=>"notext" %>

<div data-role="popup" id="popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
  <p>Processing Fee is <strong>2.9% + $0.99</strong>.</p>
</div>
