  <th><div class='center-wrapper'>Qty</div></th>
  <th><div class='center-wrapper'>Item</div></th>
  <th><div class='center-wrapper'>Price</div></th>
  <th><div class='center-wrapper'>Amount</div></th>

