  <div class="grey-text mtop row">
    <div class="span4">
      ID: <%= listing.pixi_id %><br />
      Posted: <%= get_local_time listing.start_date %><br />
      Updated: <%= get_local_time listing.updated_at %><br />
    </div>
  </div>
