<% unless @posts.blank? %>
  <ol class="posts">
    <%= render partial: 'mobile/post', collection: @posts, locals: { sentFlg: sentFlg } %>
  </ol>
<% else %>
  <div class='center-wrapper'>No posts found.</div>
<% end %>
