  <div class="mleft10">
    <table>
      <tr>
	<td>
          <%= render partial: 'mobile/show_photo', locals: {model: @transaction.get_invoice_listing, psize: '80x80', file_name:'usr-med-photo', 
	      display_cnt: 0} %>
	</td>
	<td></td>
	<td><div class='mleft10'><span class='title-str'><%= @transaction.get_invoice_listing.title %></span></div></td>
      </tr>
    </table>
  </div>
  <div class="mleft10">
    <%= render :partial=>'mobile/transaction_details', :locals=>{:transaction=>@transaction, :showAmt=>false} %>
  </div>
  <div class="clear-all"></div>
  <div class="mtop center-wrapper">
    <%= link_to "Done", listings_path, 'data-role'=>'button', 'data-inline'=>'true', 'data-theme'=>'d', :id => 'done-btn' %>
  </div>
