<div id="search-mform">
  <%= form_tag get_search_path, :method => :get, :remote=>true, id: 'search-frm', :data => {:ajax => 'false'} do %>
    <%= hidden_field_tag 'cid', '' %>
    <%= hidden_field_tag 'loc', '' %>
      <div class="input-append">
        <%= autocomplete_field_tag 'search', params[:search], get_autocomplete_path, :id_element => '', :update_elements => {}, 
          :placeholder => 'Search...', class: 'search-fld', 'data-mini'=>"true", 'data-theme'=>'a' %>
        <button type='submit' id='submit-btn' class="btn btn-primary" type="button">
	  <i class="icon-search icon-white"></i>
        </button>
      </div>  
  <% end %>
</div>
