<table id="<%= idFld %>" class='sm-top form-inline' style="<%= dType %>">
  <tr><td><%= text_field_tag minFld, nil, {class: 'width120', placeholder: minPlc} %></td>
    <td><label class='width60 pad10'>to</label></td>
    <td><%= text_field_tag maxFld, nil, {class: 'width120', placeholder: maxPlc} %></td>
  </tr>
</table>

