<div class="span4 center-wrapper" id="usr_photo">
  <div>
    <output id='list'>
      <%= image_tag get_image(model, file_name), class: 'usr-photo' %>
    </output>
  </div>
  <%= render partial: 'mobile/user_photo', locals: { f: f } %>
</div>

