<tr><td>First Name* </td><td><%= f.text_field :first_name, placeholder: 'First Name' %></td></tr>
<tr><td>Last Name* </td><td><%= f.text_field :last_name, placeholder: 'Last Name' %></td></tr>
<% if showAll %>
  <tr><td>Email* </td><td><%= f.text_field :email, placeholder: 'Email' %></td></tr>
<% end %>
