<tr><td>Gender</td>
  <td><%= f.select :gender, options_for_select( ['Male', 'Female'], :selected=>@user.gender ), {}, {'data-mini'=>'true'} %></td>
</tr>
<tr><td>Birth Date</td>
  <td>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="horizontal">
        <%= f.date_select :birth_date, {:as => :date, :start_year => Date.today.year - 13, :end_year => Date.today.year - 90, 
           :order => [:month, :day, :year], :use_short_month => true, :required => true, :prompt => true}, {'data-mini'=>'true'} %>
      </fieldset>
    </div>
  </td>
</tr>
