body {
}

.container {
	position: relative;
}

#breadcrumb {
    font: 14px Arial, Helvetica, sans-serif;
    font-weight:bold;
    background-image:url('bc_bg.gif'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#888;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    margin-bottom: 5px;
    padding:0px;
}

#breadcrumb li {
    list-style-type:none;
    padding-top: 2.5px;
    padding-left:15px;
	display:inline-block;
	vertical-align:middle;
	float:left;
}
  
.textmiddle {
	vertical-align:middle;
} 

#breadcrumb a, .current {
    display:inline-block;
    background-image:url('bc_separator.gif'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-top: 2.5px;
    padding-right: 15px;
    text-decoration: none;
    color:#333333;
    outline:none;
}

.home {
    border:none;
    margin: 7px 0px;
}

#breadcrumb a:hover {
	color:#35acc5;
}

#breadcrumb a:current {
	background-position:0px 0px;
}

#breadcrumb a:hover.current {
	background-position:0px -70px;
}

#breadcrumb a:none {
	background-position:0px -280px;
}

#breadcrumb a:hover.none {
	background-position:0px -350px;
}
