@import "bootstrap";

/* universal */
html,body{
  height: 100%
}

html {
  overflow-y: scroll;
  }

body {
  padding-top: 60px;
  min-height: 100%;
}

@import "bootstrap-responsive";
@import "compass";
@import "shared/form";
@import "shared/image";

/* responsive mobile fix */
@media screen and (max-width: 320px) { 
  #wrap {
    margin-top: 0px!important;
  }

  .hero-unit {  
    h1 {font-size: 2em;}   
  } 

  #footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 480px)  
{
  #wrap {
    margin-top: 0px!important;
  }

  nav.navbar
    {margin: auto;} 

  #footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* responsive footer fix by Aalaap Ghag */
@media screen and (max-width: 960px) {
  body {
    padding-top: 0px!important;
    padding-right: 0px;
    padding-left: 0px;
  }

  #wrap {
    margin-top: 0px!important;
  }

  #footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* responsive footer fix by Aalaap Ghag */
@media screen and (max-width: 767px) {
  body {
    padding-top: 0px!important;
    padding-right: 0px;
    padding-left: 0px;
  }

  #wrap {
    margin-top: 0px!important;
  }

  #footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

*{
  margin:0;
  padding:0;
}

section {
  overflow: auto;
  }

textarea {
  resize: vertical;
  }

.center {
  text-align: center;
  }

.center h1 {
  margin-bottom: 10px;
  }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
  }

/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	    color: #fff;
	    text-decoration: none;
	   }
  }

/* Wrapper for page content to push down footer */
#wrap {
  margin-top: 40px!important;
  //min-height: 150%;
  @extend .item-hgt;

  /* Negative indent footer by it's height */
  //margin: 0 auto -60px;
}

#section-container, #px-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 60px;
}

#frame-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 20px;
}

#cat-wrap, #home-wrap {
  //min-height: 150%;
  @extend .item-hgt;
}

.item-hgt {
  height: auto !important;
  height: 100%;
}

.no-list {
      list-style: none;
      li {
        float: left;
        margin-left: 10px;
      }
}

.margin-auto { margin: 0 auto }

/* footer */

#push,
#footer {
  clear: both;
  height: 60px;
}

footer {
  /*
  position:absolute;
  bottom:0;
  padding-top: 20px;
  */
  margin-top: 20px;

  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
      &:hover { 
	color: #222;
      }
    }  
    small { 
      float: left; 
    }
    ul {
      float: right;
      @extend .no-list;
   }
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  }

/* forms */

#signup input, select, .uneditable-input {
  max-height: 40px !important;
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: medium;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;  
}

.contact label {
    font-size: 20px;
    font-weight: medium;
    color: #555555;
    display: inline-block;
  }

.form-horizontal .control-label {
  padding-top: 10px!important;
}

input, textarea, select, .uneditable-input {
  @extend .stnd-input;
}

.stnd-input {  
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  height: 100px;
}

input, select, .uneditable-input {
  height: auto !important;
  }

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
      }
  }

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.notice, .success, .alert, .error {
   margin-top: 10px!important;
   padding: 5px 0 5px 0;
   margin: 7px;
   width: 95%;
   min-height: 20px;
   margin-bottom: 10px;
   text-align: center;
   font-size: 12px;
   text-shadow: none!important;
 }

.error, .alert, .notice, .success, .info {margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice, .alert {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success, .alert {background:#e6efc2;color:#264409;border-color:#c6d880;}

#spinner {
  margin-top: 10%;
  margin-left: 40%;
  position:fixed;
  height: 10%;
  z-index:9999;
  width:10%;
  clear:none;
  opacity: .4;
  background:#000000 url("ajax-loader.gif") no-repeat center center;
  font-weight:bold; 
  @extend .round;
}

/*IE 'adjustment'*/
* html #spinner {
  position: absolute;
  height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.center-wrapper {
  text-align: center!important;
}

.center-wrapper * {
  margin: 0 auto;
}

/* field widths */
.width30 {width: 30px!important}
.width45 {width: 45px!important}
.width60 {width: 60px!important}
.width80 {width: 80px!important}
.width100 {width: 100px!important}
.width120 {width: 120px!important}
.width124 {width: 124px!important}
.width140 {width: 140px!important}
.width180 {width: 180px!important}
.width240 {width: 240px!important}
.width250 {width: 250px!important}
.width275 {width: 275px!important}
.width280 {width: 280px!important}
.width300 {width: 300px!important}
.width320 {width: 320px!important}
.width360 {width: 360px!important}
.height240 {height: 240px!important}
.height360 {height: 360px!important}
.height480 {height: 480px!important}

.hdr { font-weight: bolder; font-size: medium; 
  .top-hdr { color: white; }
  .item-hdr { color: black; }
  .pixi-hdr { @extend .pixi-color; }
  .grp-hdr { color: $pixiBlue; }
}

.tbl-hdr { text-align:left!important; font-size: 12px!important; font-weight: normal!important }

.cb-label { display:inline; vertical-align:middle }
.hdescr { font-size: 0.75em; color: #ccc; }
.pg-text { font-size: 14px; }
.field-hdr { font-weight: bolder; font-size: 1em; color: $pixiBlue; padding-bottom: 5px; }
.section-hdr { font-weight: bolder; font-size: 1.5em; color: $pixiBlue; padding-bottom: 5px; }

h3 { padding: 10px }

.nxt-pg { display:none; }
.nxt-pg-spinner { 
  position:fixed;
  width: 60px;
  bottom:50px;
  right:10%;
  text-indent:-9999px;
  z-index: 9999!important }

.cc-logo {
  width: 178px!important; height: 32px!important; vertical-align: middle;
}

.cvv-logo {
  width: 48px; height: 32px; vertical-align: middle;
}

#printable p, p + p {
  text-indent: 0!important
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}

.blk-border {
  border: 1px solid #000;
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:30px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url('icon_top.png') no-repeat;
}

.bar-top { margin-top: 20px; }

.img-icon {
  height: 18px;
  width: 18px;
}

.lrg-img-icon {
  height: 40px;
  width: 40px;
}

#submenu .navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

#submenu .navbar .nav > span {
  float:none;
  display:inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

//#submenu .navbar-inner > .container { padding-left: 5.25%; padding-right:5%; }
#submenu .nav > li > a:hover {color: $pixiOrange;}
#submenu .nav .active > a, .menu .active > a:hover {
  color: $pixiOrange;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);  
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);  
  }

.navbar-search {
  position: relative;
  padding-left: 25px!important;
}

.search-text {
  margin-bottom: 0;
  height: 30px!important;
}

.btn-medium {
  margin-top: 0!important;
  height: 30px!important;
}

.btn-search {
  margin-top: 0!important;
  background: $pixiBlue;
}

.navbar-photo, .link {
  margin-right: 10px;
}

.menubar-item {
  float: left;
  text-align: center;
  color: #ffffff!important;
  line-height: 1;
  z-index: 999;
  vertical-align: middle;
  height: 22px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none!important;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0.2em!important;
  padding: 10px 2px 0px 2px;
}

#px-post, a#add-pixi, a#add-inv {
  @extend .menubar-item;
  width: 50px;
  background: $pixiOrange;
  &:hover { background: $pixiOrange; text-decoration: none }
}   

a#bill-pixi, a#pay-pixi {
  @extend .menubar-item;
  width: 50px;
  background: $pixiBlue;
  &:hover { background: $pixiBlue; text-decoration: none }
}

a#notice-btn {
  font-weight: bold;
  color: #ffffff!important;
  &:hover { background: transparent; text-decoration: none }
}   

#msg_Container {
  width: 30px;
  height: 25px;
  top: 20%;
  padding: 0;
  position:absolute;
  right: 42%;
  background: transparent url(message_icon60.png) no-repeat center center;
  display: inline;
}

.msg_bubble {
  position:absolute;
  top: -6px;
  right:-6px;
  padding:1px 3px 1px 3px;
  background-color:red;
  color:white;
  font-weight:bold;
  font-size:0.7em;
  border-radius:30px;
  box-shadow:1px 1px 1px gray;
}

a.btn-mask {
  color: #ffffff!important;
  &:hover { text-decoration: none }
}

.pagination {
  margin-top: 10px!important;
  a {
    font-size: 10px!important;
    line-height: 14px!important;
  }  
}

.cmt-descr { height: 60px!important; }
#comment-list {
  height: 30px!important;
}

.recent {
  font-size: 14px;
  display: inline;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
  a {
    &:hover { color: #000000!important; text-decoration: underline; }
  }  
}

.list-font {
    font-family: verdana;
    font-size: 10px;
}

#post_content {
  margin-top: 2px;
  margin-right: 5px;
  @extend .list-font;
}
 
#reply_content {
  height: 60px!important;
  width: 80%!important;
  margin-bottom: 0!important;
}

@mixin listing_text {
  textarea { 
    font-size: 10px!important;
    line-height: 14px!important;
  }
}

.ta_content {
  height: 40px!important;
  margin-bottom: 0!important;
  @extend #post_content;
  @include listing_text;
}
 
#contact_content {
  @extend .ta_content;
}
 
#comment_content {
  width: 365px!important;
  @extend .ta_content;
}

#pendingOrder table td {
  @extend .list-font;
}

#more-btn {
  color: blue!important;
}  

.no-bot {
  margin-bottom: 0!important;
}

.reply_form {
  display: inline;
  vertical-align: bottom;
  textarea {
    line-height: 14px!important;
  }
}

.fld-height { height: 28px!important; }
.lheight { line-height: 30px!important; }
.fld-pad { padding: 5px!important; }

.pixi-select {
  margin-bottom: 0px!important;
  font-size: 14px!important;
  height: 28px!important; 
}

.cat-select {
  margin-bottom: 0px!important;
  height: 28px!important; 
  font-size: 14px!important;
  margin-top: -3px!important;
}

#purchase_btn {
  float: right;
  width: 60px!important;
}

#post-frm {
  float: left;
//  width: 860px!important;
}

#post_form, #ask_form {
  float: left;
//  width: 280px!important;
}

#comment_form {
  float: left;
  width: 365px!important;
  height: 325px!important;
}

#contact-btn, #comment-btn, #add-item-btn, .inv-fld {
  visibility: hidden;
}

hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 

.verticalLine {
  border-right: 1px solid #e8e8e8;
  margin-right: 20px;
}

.home-img {
  margin-top: 5px!important;
  margin-right: 15px!important;
  vertical-align: middle;
  height: 28px!important;
  width: 28px!important;
}

.ftr-img {
  margin-left: 10px!important;
  vertical-align: middle;
  height: 32px!important;
  width: 32px!important;
}

ul#social-links {
  margin-left: -10px!important;
  list-style: none;
  li {
    margin-top: 10px!important;
  }
}

.social-img {
  vertical-align: middle;
  height: 32px!important;
  width: 32px!important;
}

a#home-link, a.home-link {
  &:hover {
    text-decoration: none;
    background: transparent!important;
  }
}

.remove-btn {
  margin-left: 5px!important;
}

#add-pixi-photo .cabinet {
  margin-left: 2px!important;
  padding: 0!important;
}

#nearby-map {
  width:100%; 
  height:300px!important;
  border: 1px solid #e8e8e8;
}

.px-logo {
  width: 260px!important;
  height: auto;
}

.site-logo {
  float: left;
  height: auto;
  margin-left: -5px!important;
  &:hover {
	    text-decoration: none;
	    background: transparent;
	   }
}

.pixi-logo {
  width: 200px!important;
  @extend .site-logo;
}

.ppay-logo {
  width: 155px!important;
  @extend .site-logo;
}

.div-gray-border {  
  border: 1px solid #cccccc; padding: 10px; margin-bottom: 10px; 
  background-color: #cccccc;
}

a#browse-link {
  color: black;
  &:hover, &:visited, &:link {
    background-color: none;
    text-decoration: underline;
  }
}

a.white-browse-link {
  color: white!important;
  &:hover, &:visited, &:link {
    background-color: none;
    text-decoration: none;
  }
}
 
.pad10 {padding: 10px!important;}
.pad15 {padding: 15px!important;}
.pad20 {padding: 20px!important;}
.pad5 {padding: 5px!important;}
.pad-top10 {padding-top: 10px!important;}
.pad-top20 {padding-top: 20px!important;}
.pad-top30 {padding-top: 30px!important;}
.pad-bot10 {padding-bottom: 10px!important;}
.pad-bot5 {padding-bottom: 5px!important;}
.pad-left20 {padding-left: 20px!important;}
.pad-right20 {padding-right: 20px!important;}

.ui-autocomplete {
  z-index: 9999 !important;
}

form .clearfix:before, form .clearfix:after {
  display: inline;
}

.border-pad {
  border-spacing: 10px;
}

.page-str { font-size: 1.075em; color: #000; }
.title-str { font-size: 1.25em; font-weight: bold; color: #026FB7; }
.faq-str { font-size: 0.875em; font-weight: bold; color: #000; }
.contact-str { font-size: 0.675em; color: black; }
.pg-title-black {
    font-family: "Trebuchet MS";
    color: #000000;
    font-size: 36px;
    font-weight: bold;
}

.pxp-title-black {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.field_with_errors {
  @extend .control-group.error;
}

.center-button {
  left: 50%
}

.modal-body {
  padding: 15px 0 0 0;
}

.modal-body > p {
  text-align: center; 
}

.modal-header h3 {
  text-align: center; 
}

.token-width { width: 100%; }
