@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
  }

body {
  padding-top: 60px;
  }

section {
  overflow: auto;
  }

textarea {
  resize: vertical;
  }

.center {
  text-align: center;
  }

.center h1 {
  margin-bottom: 10px;
  }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
  }

/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	    color: #fff;
	    text-decoration: none;
	   }
  }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
      &:hover { 
	color: #222;
      }
    }  
    small { 
      float: left; 
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 10px;
      }
   }
}

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  }

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 4px;
  margin-bottom: 15px;
  @include box_sizing;
  }

textarea {
  height: 100px;
}

input, select, .uneditable-input {
  height: auto !important;
  }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
      }
  }

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .push { height: 2em; }
 .div-footer {margin-top: 20px;}

 .notice, .alert, .error {
   padding: 5px 0 5px 0;
   margin: 7px;
   width: 95%;
   min-height: 20px;
   margin-bottom: 10px;
   text-align: center;
   font-size: 12px;
   text-shadow: none!important;
 }

.error, .alert, .notice, .success, .info {margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.error, .alert, .notice, .success {border: 2px solid;}

/* primary listing(pixi) image */
.pic-frame { border: 1px solid #AAAAAA;  box-shadow: 1px 1px 1px 1px #ccc; padding: 4px; margin-bottom: 10px; }
.pixi-frame { 
  display: block; float:left; width: 150px; border: 1px solid #AAAAAA;  
  box-shadow: 1px 1px 1px 1px #ccc; padding: 4px; margin: 0 10px 10px 0; 
}

.pboard { display: block; }

/* submit button */
.submit-btn { color: white!important; font-weight: bold; background:orange!important; border:orange!important}
.stnd-btn { color: black!important; background:#CCCCCC!important; border:1px gray!important}

/* pagination styling */
.pagination {
    padding: 3px;
    margin: 3px;
  a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
  }
  a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
  }
  span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
  }
  span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }
}

/* listing image thumbnails */
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 10px 0;
}

#spinner {
  margin-top: 300px;
  margin-left: 400px;
  position:fixed;
  height: 10%;
  z-index:9999;
  width:10%;
  clear:none;
  opacity: .4;
  background:#000000 url("ajax-loader.gif") no-repeat center center;
  font-weight:bold; 
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}

/*IE 'adjustment'*/
* html #spinner {
  position: absolute;
  height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.center-wrapper {
  text-align: center!important;
}

.center-wrapper * {
  margin: 0 auto;
}

/* field widths */
.width30 {width: 30px!important}
.width80 {width: 80px!important}
.width120 {width: 120px!important}
.width180 {width: 180px!important}
.width240 {width: 240px!important}
.width360 {width: 360px!important}
.height240 {height: 240px!important}
.height360 {height: 360px!important}

.clear-all { clear:both }
.clear-right { clear:right }
.price { text-align: right }
.order-total { font-weight: bolder; font-size: medium }

.top-hdr { color: white; font-weight: bolder; font-size: medium }
.item-hdr { color: black; font-weight: bolder; font-size: medium }
.pixi-hdr { color: orange; font-weight: bolder; font-size: medium }
.grp-hdr { color: #0C6FCB; font-weight: bolder; font-size: medium }
.tbl-hdr { text-align:left!important; font-weight: normal!important }

.pixi-color { color: orange }
.pixi-bkgnd { background-color: orange }
.pixi-lt-bkgnd { background-color: #fde9d9 }
.div-border {  
  border: 1px solid #eaeaea; padding: 15px; margin-bottom: 15px; }
.mtop {margin-top: 20px;}
.mbot {margin-bottom: 20px;}
.sm-top { margin-top: 5px!important }  
.cb-label { display:inline; vertical-align:middle }

.cc-logo {
  width: 282px!important; height: 52px!important; vertical-align: middle;
}

.cvv-logo {
  width: 48px; height: 32px; vertical-align: middle;
}

#printable p, p + p {
  text-indent: 0!important
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}


