@import "bootstrap";

/* universal */
html,body{
  height: 100%
}

html {
  overflow-y: scroll;
  }

body {
  padding-top: 60px;
  }

section {
  overflow: auto;
  }

textarea {
  resize: vertical;
  }

.center {
  text-align: center;
  }

.center h1 {
  margin-bottom: 10px;
  }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
  }

/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	    color: #fff;
	    text-decoration: none;
	   }
  }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* footer */

#push,
#footer {
  height: 60px;
}

footer {
  /*
  position:absolute;
  bottom:0;
  margin-top: 45px;
  padding-top: 5px;
  */

  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
      &:hover { 
	color: #222;
      }
    }  
    small { 
      float: left; 
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 10px;
      }
   }
}

$grayMediumLight: #eaeaea;
$pixiOrange: #F95700;
$pixiBlue: #0C6FCB;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  }

/* forms */

#signup input, select, .uneditable-input {
  max-height: 40px !important;
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: medium;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;  
}

.contact label {
    font-size: 20px;
    font-weight: medium;
    color: #555555;
    display: inline-block;
  }

.form-horizontal .control-label {
  padding-top: 10px!important;
}

input, textarea, select, .uneditable-input {
  @extend .stnd-input;
}

.stnd-input {  
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  height: 100px;
}

input, select, .uneditable-input {
  height: auto !important;
  }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
      }
  }

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.notice, .alert, .error {
   padding: 5px 0 5px 0;
   margin: 7px;
   width: 95%;
   min-height: 20px;
   margin-bottom: 10px;
   text-align: center;
   font-size: 12px;
   text-shadow: none!important;
 }

.error, .alert, .notice, .success, .info {margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}

/* primary listing(pixi) image */
.pic-item { border: 1px solid #AAAAAA; box-shadow: 1px 1px 1px 1px #ccc; padding: 4px; }

.item { 
  @extend .pic-item; float: left; 
  margin: 10px; }

.pic-frame { 
  @extend .pic-item;
  margin-bottom: 10px; }

.pixi-frame { 
  display: block; float: left; 
  @extend .pic-item;
  margin: 0 10px 10px 0; 
}

/* submit button */
.submit-btn { color: white!important; font-weight: bold; background: $pixiOrange!important; border: $pixiOrange!important; }
.stnd-btn { color: black!important; background:#CCCCCC!important; border:1px gray!important}

/* listing image thumbnails */
.thumb {
  height: 100px;
  width: 100px!important;
  @extend .pic-item;
  margin: 5px 10px 0 5px;
}

.pixi-photo img {
  max-height: 125px!important;
  width: 125px;
  @extend .pic-item;
  margin: 10px 5px 10px 0;
}

.inv-pic img {
  height: 60px!important;
  width: 60px!important;
  @extend .pic-item;
}

.sm-thumb {
  height: 60px;
  width: 60px!important;
  @extend .pic-item;
  margin: 5px 10px 0 5px;
}

/* user image thumbnails */
.usr-photo {
  height: 180px;
  width: 180px;
  @extend .pic-item;
  margin: 10px 5px 10px 0;
}

.usr-sm-photo img {
  max-height: 30px!important;
  max-width: 30px!important;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-top: -4px;
}

#spinner {
  margin-top: 300px;
  margin-left: 400px;
  position:fixed;
  height: 10%;
  z-index:9999;
  width:10%;
  clear:none;
  opacity: .4;
  background:#000000 url("ajax-loader.gif") no-repeat center center;
  font-weight:bold; 
  @extend .round;
}

/*IE 'adjustment'*/
* html #spinner {
  position: absolute;
  height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.center-wrapper {
  text-align: center!important;
}

.center-wrapper * {
  margin: 0 auto;
}

/* field widths */
.width30 {width: 30px!important}
.width80 {width: 80px!important}
.width120 {width: 120px!important}
.width124 {width: 124px!important}
.width140 {width: 140px!important}
.width180 {width: 180px!important}
.width240 {width: 240px!important}
.width280 {width: 280px!important}
.width360 {width: 360px!important}
.height240 {height: 240px!important}
.height360 {height: 360px!important}
.height480 {height: 480px!important}

.clear-all { clear:both }
.clear-right { clear:right }
.price { text-align: right }
.order-total { font-weight: bolder; font-size: medium }
.v-align { vertical-align: middle }

.hdr { font-weight: bolder; font-size: medium; 
  .top-hdr { color: white; }
  .item-hdr { color: black; }
  .pixi-hdr { @extend .pixi-color; }
  .grp-hdr { color: $pixiBlue; }
}

.tbl-hdr { text-align:left!important; font-weight: normal!important }

.pixi-color { 
  color:$pixiOrange; 
}
.pixi-bkgnd { background-color: $pixiOrange }
.pixi-lt-bkgnd { background-color: #fde9d9 }
.pixi-blue-bkgnd { background-color: $pixiBlue }
.pixi-blk-bkgnd { background-color: black }
.pixi-grey-bkgnd { background-color: $grayMediumLight }

.div-border {  
  border: 1px solid #eaeaea; padding: 10px; margin-bottom: 10px; }

h3 { padding: 10px }

.mtop {margin-top: 20px;}
.mbot {margin-bottom: 20px;}
.sm-top { margin-top: 5px!important }  
.sm-bot { margin-bottom: 5px!important }  
.neg-top { margin-top: -10px!important }  
.ng-top { margin-top: -3px!important }  
.mright { margin-right: 10px!important }
.med-top {margin-top: 10px;}

.cb-label { display:inline; vertical-align:middle }
.hdescr { font-size: 0.75em; color: #ccc; }
.gdescr { font-size: 0.675em; color: #555555; }
.bdescr { font-size: 0.875em; color: #000; width: 120px!important }
.grey-text { color: #ccc; }

.nxt-pg { display:none; }
.nxt-pg-spinner { 
  position:fixed;
  bottom:50px;
  right:100px;
  text-indent:-9999px;
  z-index: 9999!important }

.cc-logo {
  width: 282px!important; height: 52px!important; vertical-align: middle;
}

.cvv-logo {
  width: 48px; height: 32px; vertical-align: middle;
}

#printable p, p + p {
  text-indent: 0!important
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}

.blk-border {
  border: 1px solid #000;
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:30px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url('icon_top.png') no-repeat;
}

.bar-top { margin-top: -20px; }

.SI-FILES-STYLIZED label.cabinet
{
  width: 79px;
  height: 22px;
  background: url('btn-choose-file.gif') 0 0 no-repeat;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  input.file
  {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
}

.img-icon {
  height: 18px;
  width: 18px;
}

#submenu .navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

#submenu .navbar .nav > span {
  float:none;
  display:inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

#submenu .navbar-inner > .container { width:940px; }
#submenu .nav > li > a:hover {color: $pixiOrange;}
#submenu .nav .active > a, .menu .active > a:hover {
  color:$pixiOrange;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);  
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);  
  }

.item-cat {
  float:left;
  padding-right:5px;
}

.item-dt {
  float:right;
  padding-left:5px;
}

.navbar-search {
  position: relative;
  padding-left: 60px !important;
}

.search-text {
  margin-bottom: 0;
  height: 30px!important;
}

.btn-medium {
  margin-top: 0!important;
  height: 30px!important;
}

.btn-search {
  margin-top: 0!important;
  background: $pixiBlue;
}

.navbar-photo, .link {
  margin-right: 10px;
}

.menubar-item {
  float: left;
  text-align: center;
  color: #ffffff!important;
  line-height: 1;
  z-index: 999;
  vertical-align: middle;
  height: 22px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none!important;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0.2em!important;
  padding: 10px 2px 0px 2px;
}

a#add-pixi, a#add-inv {
  @extend .menubar-item;
  width: 50px;
  background:$pixiOrange;
  &:hover { background:$pixiOrange; text-decoration: none }
}   

a#notice-btn {
  @extend .menubar-item;
  font-weight: bold;
  width: 30px;
  margin-left: 60px;
  background:#990000;
  &:hover { background:#990000; text-decoration: none }
}   

.pagination {
  margin-top: 10px!important;
  a {
    font-size: 10px!important;
    line-height: 14px!important;
  }  
}

#comment-list {
  height: 30px!important;
}

/* posts */

.posts {
  list-style: none;
  font-size: 10px!important;
  margin: 5px 0 0 0;

  li {
     padding: 10px 0;
     border-top: 1px solid #e8e8e8;
  }

  a {
    &:hover { background:none; text-decoration: underline; }
  }  
}

.sender {
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
}

.content, #fcontent {
  display: block;
  margin-top: -5px!important;
}

.timestamp {
  color: $grayLight;
  margin-top: 5px!important;
  margin-bottom: 10px;
}

.myimage img {
  float: left;
  max-width: 50px!important;
  max-height: 50px!important;
  border: 1px solid #AAAAAA; 
}

.list-font {
    font-family: verdana;
    font-size: 10px;
}

#post_content {
  margin-top: 2px;
  margin-right: 5px;
  @extend .list-font;
}
 
#reply_content {
  height: 30px!important;
  width: 625px!important;
  margin-bottom: 0!important;
  @extend #post_content;
}

@mixin listing_text {
  textarea { 
    font-size: 10px!important;
    line-height: 14px!important;
  }
}

.ta_content {
  height: 40px!important;
  margin-bottom: 0!important;
  @extend #post_content;
  @include listing_text;
}
 
#contact_content {
  width: 305px!important;
  @extend .ta_content;
}
 
#comment_content {
  width: 365px!important;
  @extend .ta_content;
}

#pendingOrder table td {
  @extend .list-font;
}

#more-btn {
  color: blue!important;
}  

.reply_form {
  display: inline;
  vertical-align: bottom;
  textarea {
    line-height: 14px!important;
  }
}

.pixi-select {
  margin-bottom: 0px!important;
  height: 28px!important;
  font-size: 14px!important;
}

#purchase_btn {
  float: right;
  width: 60px!important;
}

#post-frm {
  float: left;
  width: 860px!important;
}

#post_form {
  float: left;
  width: 280px!important;
}

#comment_form {
  float: left;
  width: 365px!important;
  height: 325px!important;
}

.float-left {
  float: left;
}

.img-valign {
  vertical-align: middle;
}

hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 

.verticalLine {
  border-right: 1px solid #e8e8e8;
  margin-right: 20px;
}

#contact-btn, #comment-btn {
  visibility: hidden;
}

.home-img {
  margin-top: 5px!important;
  margin-right: 15px!important;
  vertical-align: middle;
  height: 28px!important;
  width: 28px!important;
}

a.home-link {
  &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.remove-btn {
  margin-left: 5px!important;
}

#add-pixi-photo .cabinet {
  margin-left: 0!important;
  padding: 0!important;
}
