// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* map details */

#map_content {
  padding: 0;
  min-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map_canvas, #directionsPanel {
  width: 100%;
  height: 100%;
  padding: 0;
  text-shadow: none;
}


