// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 20px!important;
}

.home-container {
  height: 540px;
  background: url("pxb_hp_image_final.jpg");
  background-size: 100% 100%;
}

.home-title-grp {
  margin-left: 18px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  .home-title {
    color: #000000;
    font-size: 44px;
  }
  .home-title-white {
    color: #ffffff;
    font-size: 44px;
  }
  .tag-line {
    color: #ffffff;
    font-size: 18px;
  }
}

.left-margin {
  margin-left: 20px;
}

.div-blk-border {  
  border: 1px solid #000000; padding: 10px; margin-bottom: 10px; 
  background-color: #000000;
}

.div-clear-border {  
  border: 1px; padding: 10px; margin-bottom: 10px; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .65);
  border-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, .65);
}
