<% provide(:title, get_page_title) %>
<%= content_for :subhead do %>
  <div id='pixi-hdr' class='div-border bar-top hdr pixi-grey-bkgnd'>
    <div class='container'>
      <span class='grp-hdr'><%= get_header %></span>
    </div>
  </div>
<% end %>
<%= content_for :content do %>
  <%= render partial: "shared/payment_form", locals: { step_name: get_page_title } %>
<% end %>
