<% provide(:title, 'Purchase Receipt') %>
<%= content_for :content do %>
  <div id="buyTxtForm">
    <div id="buyFormError" style="display:none" class="error"></div>
    <%= render :partial => 'shared/payment_success_form' %>
  </div>
<% end %>

