<% provide(:title, 'Order Complete') %>
<%= content_for :content do %>
  <div id="buyTxtForm">
    <%= render :partial => 'shared/order_complete', locals: {step_name: 'Order Complete!'} %>
  </div>
<% end %>

