<% provide(:title, 'Contact Us') %>
<%= render partial: 'shared/pg_header', locals: { linkFlg: true } %>
<%= content_for :content do %>
  <div id='inquiry_frm' class='div-border'>
    <div class='row'>
      <div class='offset2 span8 mbot'><div class='section-hdr'>Contact Us</div></div>
    </div>
    <%= render partial: 'shared/inquiry_form', locals: { svcFlg: true } %>
  </div>
<% end %>

