<% provide(:title, 'Manage Sites') %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: 'Sites' }, id: 'site-nav' %>
<% end %>
<%= content_for :content do %>
  <div id='site_form'>
    <%= render partial: 'shared/site', locals: {model: @sites, stype: @stype } %>
  </div>
<% end %>
