              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Manage <b class="caret"></b></a>
		  <ul class="dropdown-menu">
            	    <li><%= link_to "Pending Orders", pending_listings_path %></li>
	            <% if can? :manage_users, @user %>
            	      <li><%= link_to "Transactions", transactions_path %></li>
            	      <li><%= link_to "Users", users_path %></li>
	            <% end %>
                  </ul>
              </li>

