<li>
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle post-btn" data-toggle="dropdown">
      Post <span class="caret icon-white"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "By You", new_temp_listing_path %></li>
      <li><%= link_to "By Us (PixiPost)", check_pixi_post_zips_path, id: 'pixi-post-appt' %></li>
      <li><%= link_to "For Seller", new_temp_listing_path(pixan_id: @user), id: 'pixi-post' if can? :manage_pixi_posts, @user %></li>
      <li><%= link_to "For Business", new_temp_listing_path(pixan_id: @user, ptype: 'bus'), id: 'bus-ppost' if can? :manage_pixi_posts, @user %></li>
    </ul>
  </div>
</li>
